<template>
  <div class="admin-navi">
    <div class="Navi" align="center">
      <b-navbar toggleable="sm" type="dark" variant="dark" fixed="top">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand @click="logoutAdmin">Admin</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
            <!-- Left aligned nav items -->
            <b-navbar-nav>
              <b-nav-item @click="createAdmin">관리자 등록</b-nav-item>
              <b-nav-item @click="createAdType">광고등록</b-nav-item>
              <b-nav-item @click="createInfomation">정보등록</b-nav-item>
              <b-nav-item @click="createConsult">상담신청</b-nav-item>
              <b-nav-item @click="createFaq">자주묻는 질문</b-nav-item>
              <b-nav-item @click="createNotice">공지사항</b-nav-item>
              <b-nav-item @click="createCustomer">업체등록</b-nav-item>
              <b-nav-item @click="requestAd">광고신청</b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
              <b-nav-item @click="createTerms">약관등록</b-nav-item>
              <b-nav-item>현재 로그인: {{$store.state.adminData.la_identifier}}</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div> 
  </div>
</template>

<script>
export default {
  name: 'admin-navi',
  components: {
  },
  data () {
    return {
      
    }
  },
  methods: {
    logoutAdmin() {
      this.$store.state.adminFlag = false;
      this.$store.state.adminData = [];
      this.$router.push({ path: '/' });
    },
    createAdmin() { this.$router.push({ path: './createAdmin' }); },
    createAdType() { this.$router.push({ path: './createAdType' }); },
    createInfomation() { this.$router.push({ path: './createInfomation' }); },
    createConsult() { this.$router.push({ path: './createConsult' }); },
    createFaq() { this.$router.push({ path: './createFaq' }); },
    createNotice() { this.$router.push({ path: './createNotice' }); },
    createCustomer() { this.$router.push({ path: './createCustomer' }); },
    requestAd() { this.$router.push({ path: './requestAd' }); },
    createTerms() { this.$router.push({ path: './createTerms' }); },
  },
  mounted() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
