<template>
  <div class="admin-home">
    <div class="Navi" align="center">
      <b-navbar toggleable="sm" type="dark" variant="dark" fixed="top">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#/">Admin</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
            <!-- Left aligned nav items -->
            <b-navbar-nav>
                <b-nav-item href="#/admin/createAdmin">관리자 등록</b-nav-item>
                <b-nav-item href="#/admin/createAd">광고등록</b-nav-item>
                <b-nav-item href="#/admin/createInfo">정보등록</b-nav-item>
                <b-nav-item href="#/admin/createConsult">상담신청</b-nav-item>
                <b-nav-item href="#/admin/createFaq">자주묻는 질문</b-nav-item>
                <b-nav-item href="#/admin/createNotice">공지사항</b-nav-item>
                <b-nav-item href="#/admin/createCustomer">업체등록</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div> 

    <b-tabs>
      <b-tab title="관리자등록" active>
        <CreateAdmin></CreateAdmin>
      </b-tab>
      <b-tab title="광고등록">
        <CreateAd></CreateAd>
      </b-tab>
      <b-tab title="정보등록">
        <CreateInfo></CreateInfo>
      </b-tab>
      <b-tab title="상담신청">
        <CreateConsult></CreateConsult>
      </b-tab>
      <b-tab title="자주묻는질문">
        <CreateFaq></CreateFaq>
      </b-tab>
      <b-tab title="공지사항">
        <CreateFaq></CreateFaq>
      </b-tab>
      <b-tab title="업체등록">
        <CreateNotice></CreateNotice>
      </b-tab>
    </b-tabs>
    <b-modal v-model="show"
             title="Login"
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant"
             :body-bg-variant="bodyBgVariant"
             :body-text-variant="bodyTextVariant"
             :footer-bg-variant="footerBgVariant"
             :footer-text-variant="footerTextVariant">
       <b-container fluid >
         <b-row class="mb-2"></b-row>
         <b-row class="mb-2">
           <b-col cols="3" class="col-text">아이디</b-col>
           <b-col>
             <b-form-group>
              <b-form-input type="text" v-model="la_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
            </b-form-group>
           </b-col>
         </b-row>
         <b-row class="mb-2">
           <b-col cols="3" class="col-text">패스워드</b-col>
           <b-col>
            <b-form-group>
              <b-form-input type="password" v-model="la_password" required placeholder="패스워드를 입력하세요."></b-form-input>
            </b-form-group>
           </b-col>
         </b-row>
       </b-container>
       <div slot="modal-footer" class="w-100">
         <b-btn size="md" class="float-left" variant="light" @click="show=false">취소</b-btn>
         <b-btn size="md" class="float-right" variant="primary" @click="show=false">로그인</b-btn>
       </div>
    </b-modal>
  </div>
</template>

<script>
import CreateAd from './CreateAd';
import CreateAdmin from './CreateAdmin';
import CreateConsult from './CreateConsult';
import CreateCustomer from './CreateCustomer';
import CreateFaq from './CreateFaq';
import CreateInfo from './CreateInfo';
import CreateNotice from './CreateNotice';

export default {
  name: 'admin-home',
  components: {
    CreateAd,
    CreateAdmin,
    CreateConsult,
    CreateCustomer,
    CreateFaq,
    CreateInfo,
    CreateNotice,
  },
  data () {
    return {
      show: false,
      variants: [
        'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'
      ],
      headerBgVariant: 'dark',
      headerTextVariant: 'light',
      bodyBgVariant: 'light',
      bodyTextVariant: 'dark',
      footerBgVariant: 'warning',
      footerTextVariant: 'dark',
      la_identifier: '',
      la_password: '',
    }
  },
  methods: {
    back: function() {
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px; 
  padding-right: 0px; 
  padding-left: 30px;
}
</style>
