<template>
  <div class="create-consult">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">이메일:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="email" v-model="form.cr_email" required placeholder="이메일을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">비밀번호:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="password" v-model="form.cr_password" required placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">이름:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="text" v-model="form.cr_name" required placeholder="이름을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">전화번호:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="tel" v-model="form.cr_mobile" required placeholder="연락처를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">상담종류:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_division" :options="consult_divisions" required  class="mb-1"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">거주지역:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_location" :options="location_options" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">직업유무:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_job_ox" :options="job_oxs" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">직업종류:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_job" :options="job_options" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">성별:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_sex" :options="sex_options" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">연령:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_age" :options="age_options" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">채무금액:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-select v-model="form.cr_debt" :options="debt_options" @change="onDebtChange" required class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">상담제목:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="text" v-model="form.cr_subject" required placeholder="상담제목을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">상담내용:</b-col>
          <b-col cols="7">
            <wysiwyg v-model="form.cr_content" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey">
            </vue-recaptcha>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4" v-for="(term, key) in terms" :key="key">
            <b-card 
              style="max-width: 30rem;"
              :title="term.t_subject"
              class="mb-3"
            >
              <b-card-body id="nav-scroller"
                  ref="content"
                  style="position:relative; height:300px; overflow-y:scroll;">
                  <p class="card-text"><span v-html="term.t_content"></span></p>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4">
            <b-form-checkbox id="checkbox1" v-model="form.cr_terms" value="O" unchecked-value="X">이용약관에 동의합니다.(필수)</b-form-checkbox>
          </b-col>
          <b-col cols="4">
            <b-form-checkbox id="checkbox2" v-model="form.cr_offer" value="O" unchecked-value="X">개인정보처리방침에 동의합니다.(필수)</b-form-checkbox>
          </b-col>
          <b-col cols="4">
            <b-form-checkbox id="checkbox3" v-model="form.cr_marketing" value="O" unchecked-value="X">책임의 한계와 법적고지에 동의합니다.(선택)</b-form-checkbox>            
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" align="center">
            <b-form-checkbox id="checkbox4" v-model="form.cr_allAgree" value="O" unchecked-value="X" @change="toggleAllAgree">
              이용약관, 개인정보처리방침과 책임의 한계와 법적고지 모두에 동의합니다.
            </b-form-checkbox>            
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <br>
      <b-table show-empty
              stacked="sm"
              :items="consults"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
          <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card> {{row.item.cr_content}} </b-card>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal>
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';
import VueRecaptcha from 'vue-recaptcha'; //for I'm not a Root

export default {
  name: 'create-consult',
  components: {
    AdminNavi,
    VueRecaptcha,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_cr_id: '',
      formShow: true,
      protectFlag: false,
      recaptcha_sitekey: '6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM',
      form: {
        cr_id: 0,
        cr_email: '',
        cr_password: '',
        cr_name: '',
        cr_mobile: '',
        cr_mobile_certi_number: '',
        cr_location: null,
        cr_division: null,
        cr_job_ox: null,
        cr_job: null,
        cr_sex: null,
        cr_age: null,
        cr_debt: null,
        cr_subject: '',
        cr_content: '',
        cr_terms: '',       //이용약관
        cr_offer: '',       //개인정보 제3자 제공
        cr_marketing: '',   //마케팅 정보수신
        cr_allAgree: '',    //전체 동의
        cr_creator: '',
      },
      consult_divisions: [
        { value: null, text: '상담종류를 선택해 주세요.' },
        { value: '개인회생', text: '개인회생' },
        { value: '개인파산', text: '개인파산' },
      ],
      location_options: [
        { value: null, text: '거주지역을 선택해 주세요.' },
        { value: '서울', text: '서울' },
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
      ],
      job_oxs: [
        { value: null, text: '직업 유무를 선택해 주세요.' },
        { value: 'O', text: '있음' },
        { value: 'X', text: '없음' },
      ],
      job_options: [
        { value: null, text: '직업을 선택해 주세요.' },
        { value: '직장인', text: '직장인' },
        { value: '개인사업자', text: '개인사업자' },
        { value: '프리렌서', text: '프리렌서' },
        { value: '아르바이트', text: '아르바이트' },
        { value: '일용직', text: '일용직' },
      ],
      sex_options: [
        { value: null, text: '성별을 선택해 주세요.' },
        { value: 'M', text: '남성' },
        { value: 'F', text: '여성' },
      ],
      age_options: [
        { value: null, text: '연령대를 선택해 주세요.' },
        { value: 10, text: '10대' },
        { value: 20, text: '20대' },
        { value: 30, text: '30대' },
        { value: 40, text: '40대' },
        { value: 50, text: '50대' },
        { value: 60, text: '60대' },
      ],
      debt_options: [
        { value: null, text: '채무금액을 선택해 주세요.' },
        { value: 2000, text: '2000만원 이하' },
        { value: 3000, text: '2000만원~3000만원' },
        { value: 4000, text: '3000만원~4000만원' },
        { value: 5000, text: '4000만원~5000만원' },
        { value: 6000, text: '5000만원~6000만원' },
        { value: 7000, text: '7000만원~8000만원' },
        { value: 8000, text: '8000만원~9000만원' },
        { value: 9000, text: '9000만원~1억원' },
        { value: 10000, text: '1억원 이상' },
      ],
      terms:[],
      consults: [],
      fields: [
        { key: 'cr_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'cr_division', label: '분류', 'class': 'text-center', sortable: true, sortDirection: 'desc' },
        { key: 'cr_location', label: '지역', 'class': 'text-center' },
        { key: 'cr_name', label: '이름', 'class': 'text-center' },
        { key: 'cr_job', label: '직업', 'class': 'text-center' },
        { key: 'cr_debt', label: '채무금액', 'class': 'text-center' },
        { key: 'cr_subject', label: '제목', 'class': 'text-center' },
        { key: 'cr_creator', label: '만든이', 'class': 'text-center' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      editorOption: {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'font': [] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['bold', 'italic'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ['link', 'image']
          ],
        }
      }
    }
  },
  computed: {

  },
  methods: {
    onDebtChange() {
      console.log('onDebtChange -----> '+this.form.cr_debt);
    },
    toggleAllAgree(checked) {
        this.form.cr_terms = 'O';       //이용약관
        this.form.cr_offer = 'O';       //개인정보 제3자 제공
        this.form.cr_marketing = 'O';   //마케팅 정보수신
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.form.cr_creator = this.form.cr_email;
      if(this.form.cr_content == '') {
          this.infoMsg = '상담 내용을 입력하세요.';
          this.showModal();
          return;
      } else if(this.form.cr_terms != 'O' || this.form.cr_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      }
      //alert(JSON.stringify(this.form));

      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('cr_email', this.form.cr_email);
      data.append('cr_password', this.form.cr_password);
      data.append('cr_name', this.form.cr_name);
      data.append('cr_mobile', this.form.cr_mobile);
      data.append('cr_mobile_certi_number', this.form.cr_mobile_certi_number);
      data.append('cr_location', this.form.cr_location);
      data.append('cr_division', this.form.cr_division);
      data.append('cr_job_ox', this.form.cr_job_ox);
      data.append('cr_job', this.form.cr_job);
      data.append('cr_sex', this.form.cr_sex);
      data.append('cr_age', this.form.cr_age);
      data.append('cr_debt', this.form.cr_debt);
      data.append('cr_subject', this.form.cr_subject);
      data.append('cr_content', this.form.cr_content);
      data.append('cr_terms', this.form.cr_terms);
      data.append('cr_offer', this.form.cr_offer);
      data.append('cr_marketing', this.form.cr_marketing);
      data.append('cr_allAgree', this.form.cr_allAgree);
      data.append('cr_creator', this.form.cr_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getConsults();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();

    },

    onReset() {

      this.form.cr_id = 0; 
      this.form.cr_email = ''; 
      this.form.cr_password = ''; 
      this.form.cr_name = ''; 
      this.form.cr_mobile = ''; 
      this.form.cr_mobile_certi_number = ''; 
      this.form.cr_location = null; 
      this.form.cr_division = null; 
      this.form.cr_job_ox = null; 
      this.form.cr_job = null; 
      this.form.cr_sex = null; 
      this.form.cr_age = null; 
      this.form.cr_debt = null; 
      this.form.cr_subject = ''; 
      this.form.cr_content = ''; 
      this.form.cr_terms = '';        //이용약관
      this.form.cr_offer = '';        //개인정보 제3자 제공
      this.form.cr_marketing = '';    //마케팅 정보수신
      this.form.cr_allAgree = '';     //전체 동의
      this.form.cr_creator = ''; 

      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.protectFlag = false;
    },
    onVerify: function (response) {
      console.log('Verify: ' + response)
    },
    onExpired: function () {
      console.log('Expired')
    },
    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_cr_id = item.cr_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('cr_id', this.selected_cr_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.cr_id = response.data.consult.cr_id; 
          this.form.cr_email = response.data.consult.cr_email; 
          this.form.cr_password = response.data.consult.cr_password; 
          this.form.cr_name = response.data.consult.cr_name; 
          this.form.cr_mobile = response.data.consult.cr_mobile; 
          this.form.cr_mobile_certi_number = response.data.consult.cr_mobile_certi_number; 
          this.form.cr_location = response.data.consult.cr_location; 
          this.form.cr_division = response.data.consult.cr_division; 
          this.form.cr_job_ox = response.data.consult.cr_job_ox; 
          this.form.cr_job = response.data.consult.cr_job; 
          this.form.cr_sex = response.data.consult.cr_sex; 
          this.form.cr_age = response.data.consult.cr_age; 
          this.form.cr_debt = response.data.consult.cr_debt; 
          this.form.cr_subject = response.data.consult.cr_subject; 
          this.form.cr_content = response.data.consult.cr_content; 
          this.form.cr_terms = response.data.consult.cr_terms;        //이용약관
          this.form.cr_offer = response.data.consult.cr_offer;        //개인정보 제3자 제공
          this.form.cr_marketing = response.data.consult.cr_marketing;    //마케팅 정보수신
          this.form.cr_creator = response.data.consult.cr_creator; 
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      this.form.cr_creator = this.form.cr_email;
      if(this.form.cr_content == '') {
          this.infoMsg = '상담 내용을 입력하세요.';
          this.showModal();
          return;
      } else if(this.form.cr_terms != 'O' || this.form.cr_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      }
      //alert(JSON.stringify(this.form));

      var data = new FormData();                                
      data.append('CRUD_mode', 'update');
      data.append('cr_id', this.form.cr_id);
      data.append('cr_email', this.form.cr_email);
      data.append('cr_password', this.form.cr_password);
      data.append('cr_name', this.form.cr_name);
      data.append('cr_mobile', this.form.cr_mobile);
      data.append('cr_mobile_certi_number', this.form.cr_mobile_certi_number);
      data.append('cr_location', this.form.cr_location);
      data.append('cr_division', this.form.cr_division);
      data.append('cr_job_ox', this.form.cr_job_ox);
      data.append('cr_job', this.form.cr_job);
      data.append('cr_sex', this.form.cr_sex);
      data.append('cr_age', this.form.cr_age);
      data.append('cr_debt', this.form.cr_debt);
      data.append('cr_subject', this.form.cr_subject);
      data.append('cr_content', this.form.cr_content);
      data.append('cr_terms', this.form.cr_terms);
      data.append('cr_offer', this.form.cr_offer);
      data.append('cr_marketing', this.form.cr_marketing);
      data.append('cr_allAgree', this.form.cr_allAgree);
      data.append('cr_creator', this.form.cr_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getConsults();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('cr_id', this.selected_cr_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        this.getConsults();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getConsults() {
      this.consults = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.consults = response.data.consults;
          for(let i=0; i<this.consults.length; i++) {
            this.consults[i].cr_content = this.consults[i].cr_content.replace(/<\/?[^>]+(>|$)/g, "");
            this.consults[i].cr_content = this.consults[i].cr_content.replace(/&nbsp;/gi, ' ');
            this.consults[i].cr_content = this.consults[i].cr_content.replace(/&gt;/gi, ' ');
          }
          this.totalRows = this.consults.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },    

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.onReset();
    this.getConsults();
    this.getTerms();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>