<template>
  <div class="create-customer">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">아이디:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!protectFlag" type="text" v-model="form.lo_identifier" placeholder="아이디를 입력하세요."></b-form-input>
              <b-form-input v-if="protectFlag" type="text" v-model="form.lo_identifier" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">패스워드:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="password" v-model="form.lo_password" placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">회사명:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_name" placeholder="회사명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">대표자명:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_ceo_name" placeholder="대표자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">사업자등록번호:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_regist_number" placeholder="사업자등록번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">전화번호:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_phone" placeholder="전화번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">우편번호:</b-col>
          <b-col cols="2">
            <b-btn size="md" class="float-left" variant="outline-primary" v-b-modal.modallg>우편번호 찾기</b-btn>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_postcode" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">주소 1:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address1" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">주소 2:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address2" placeholder="나머지 주소를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">사업 설명:</b-col>
          <b-col cols="6">
            <wysiwyg v-model="form.lo_description" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">홈페이지:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="url" v-model="form.lo_homepage" placeholder="홈페이지 url을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row v-if="protectFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">등급:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_class"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onMainChange" placeholder="메인 이미지를 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlMain" :src="urlMain"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub1Change" placeholder="서브 이미지1을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub1" :src="urlSub1"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub2Change" placeholder="서브 이미지2을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub2" :src="urlSub2"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub3Change" placeholder="서브 이미지3을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub3" :src="urlSub3"></div>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <b-modal id="modallg" size="lg" title="우편번호 찾기">
        <DaumPostcode
          :on-complete="handleAddress"
        />
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="customers"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

import DaumPostcode from 'vuejs-daum-postcode'; // for search postcode

export default {
  name: 'create-customer',
  components: {
    AdminNavi,
    DaumPostcode
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_lo_id: '',
      formShow: true,
      protectFlag: false,
      form: {
        lo_identifier: '',
        lo_password: '',
        lo_name: '',
        lo_ceo_name: '',
        lo_regist_number: '',
        lo_phone: '',
        lo_postcode: '',
        lo_address1: '',
        lo_address2: '',
        lo_location: '',
        lo_description: '',
        lo_main_img: '',
        lo_sub1_img: '',
        lo_sub2_img: '',
        lo_sub3_img: '',
        lo_homepage: '',
        lo_class: '',
        lo_creator: '',     
      },
      urlMain: null,
      urlSub1: null,
      urlSub2: null,
      urlSub3: null,
      mainfile: null,
      sub1file: null,
      sub2file: null,
      sub3file: null,
      files: [],
      customers: [],
      fields: [
        { key: 'lo_identifier', label: '아이디', 'class': 'text-center' },
        { key: 'lo_name', label: '회사명', 'class': 'text-center' },
        { key: 'lo_ceo_name', label: '대표자명', 'class': 'text-center' },
        { key: 'lo_regist_number', label: '사업자번호', 'class': 'text-center' },
        { key: 'lo_phone', label: '전화번호', 'class': 'text-center' },
        { key: 'lo_location', label: '지역', 'class': 'text-center' },
        { key: 'lo_latitude', label: '위도', 'class': 'text-center' },
        { key: 'lo_logitude', label: '경도', 'class': 'text-center' },
        /*
        { key: 'lo_password', label: '패스워드', 'class': 'text-center' },
        { key: 'lo_postcode', label: '우편번호', 'class': 'text-center' },
        { key: 'lo_address1', label: '주소1', 'class': 'text-center' },
        { key: 'lo_address2', label: '주소2', 'class': 'text-center' },
        { key: 'lo_description', label: '사업 설명', 'class': 'text-center' },
        { key: 'lo_homepage', label: '홈페이지', 'class': 'text-center' },
        */
        { key: 'lo_class', label: '광고등급', 'class': 'text-center' },
        { key: 'lo_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      editorOption: {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'font': [] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['bold', 'italic'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ['link', 'image']
          ],
        }
      }
    }
  },
  computed: {
  },
  methods: {
    handleAddress(data) {
      let fullAddress = data.address;
      let zonecode = data.zonecode;

      let extraAddress = '';
      if (data.addressType === 'R') {
        if (data.bname !== '') {
          extraAddress += data.bname;
        }
        if (data.buildingName !== '') {
          extraAddress += (extraAddress !== '' ? `, ${data.buildingName}` : data.buildingName);
        }
        fullAddress += (extraAddress !== '' ? ` (${extraAddress})` : '');
      }
      //console.log("fullAddress --> "+fullAddress) // e.g. '서울 성동구 왕십리로2길 20 (성수동1가)'
      //console.log("zonecode --> "+zonecode) // 도로명 우편번호
      this.form.lo_postcode = zonecode;
      this.form.lo_address1 = fullAddress;
    },
    onMainChange(e) {
      this.mainfile = e.target.files[0];
      this.urlMain = URL.createObjectURL(this.mainfile);
    },
    onSub1Change(e) {
      this.sub1file = e.target.files[0];
      this.urlSub1 = URL.createObjectURL(this.sub1file);
    },
    onSub2Change(e) {
      this.sub2file = e.target.files[0];
      this.urlSub2 = URL.createObjectURL(this.sub2file);
    },
    onSub3Change(e) {
      this.sub3file = e.target.files[0];
      this.urlSub3 = URL.createObjectURL(this.sub3file);
    },

    onSubmit(evt) {
      evt.preventDefault();

      if(!this.checkString('password', this.form.lo_password)) {
          this.showModal();
          return;
      } else if(this.form.lo_postcode == '') {
          this.infoMsg = '우편번호와 주소가 입력되지 않았습니다.';
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_regist_number)) {
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if (this.urlMain == null) {
          this.infoMsg = '메인 이미지를 선택해 주세요.';
          this.showModal();
          return;
      }

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      this.form.lo_creator = this.$store.state.adminData.la_identifier;
      this.form.lo_description = this.form.lo_description.replace(/\'/g,'');
      this.form.lo_class = 'E'; //최초 가입 'E'등급

      this.files = [];
      if(this.mainfile != null) { this.files.push(this.mainfile); this.form.lo_main_img = this.mainfile.name; };
      if(this.sub1file != null) { this.files.push(this.sub1file); this.form.lo_sub1_img = this.sub1file.name; };
      if(this.sub2file != null) { this.files.push(this.sub2file); this.form.lo_sub2_img = this.sub2file.name; };
      if(this.sub3file != null) { this.files.push(this.sub3file); this.form.lo_sub3_img = this.sub3file.name; };

      var data = new FormData();
      for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          data.append('files[' + i + ']', file);
          //console.log('image_file['+i+']'+this.files[i]+this.files[i].name);
      }
      //alert(JSON.stringify(this.form));

      data.append('CRUD_mode', 'create');
      data.append('lo_identifier', this.form.lo_identifier);
      data.append('lo_password', this.form.lo_password);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_regist_number', this.form.lo_regist_number);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_description', this.form.lo_description);
      data.append('lo_main_img', this.form.lo_main_img);
      data.append('lo_sub1_img', this.form.lo_sub1_img);
      data.append('lo_sub2_img', this.form.lo_sub2_img);
      data.append('lo_sub3_img', this.form.lo_sub3_img);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data,
        {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLegalOffices();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();      
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);
      /*
      console.log('checkString(str)--->'+pw);
      console.log('let num--->'+num);
      console.log('let eng--->'+eng);
      console.log('let spe--->'+spe);
      console.log('let kor--->'+kor);
      */
      if(type == 'password') {
        //alert(JSON.stringify(pw.length));
        if(pw.length < 8 || pw.length > 15){
          this.infoMsg = '비밀번호는 영.숫자 포함 6자리 ~ 15자리 이내로 입력해주세요.';
          return false;
        }
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
          return false;
        } 
        if(num < 0 || eng < 0){
          this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
          return false;
        }
      } else {
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '공백없이 입력해주세요.';
          return false;
        } 
        if(eng != -1 || spe != -1 || kor != -1){
          this.infoMsg = '사업자등록번호와 전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onReset() {
      this.form.lo_identifier = '';
      this.form.lo_password = '';
      this.form.lo_name = '';
      this.form.lo_ceo_name = '';
      this.form.lo_regist_number = '';
      this.form.lo_phone = '';
      this.form.lo_postcode = '';
      this.form.lo_address1 = '';
      this.form.lo_address2 = '';
      this.form.lo_location = '';
      this.form.lo_description = '';
      this.form.lo_main_img = '';
      this.form.lo_sub1_img = '';
      this.form.lo_sub2_img = '';
      this.form.lo_sub3_img = '';
      this.form.lo_homepage = '';
      this.form.lo_class = '';
      this.form.lo_creator = '';
      this.urlMain = null;
      this.urlSub1 = null;
      this.urlSub2 = null;
      this.urlSub3 = null;
      this.mainfile = null;
      this.sub1file = null;
      this.sub2file = null;
      this.sub3file = null;
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.protectFlag = false;
      //this.infoMsg =  '';
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_lo_id = item.lo_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('lo_id', this.selected_lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.lo_identifier = response.data.legal_office.lo_identifier;
          this.form.lo_password = response.data.legal_office.lo_password;
          this.form.lo_name = response.data.legal_office.lo_name;
          this.form.lo_ceo_name = response.data.legal_office.lo_ceo_name;
          this.form.lo_regist_number = response.data.legal_office.lo_regist_number;
          this.form.lo_phone = response.data.legal_office.lo_phone;
          this.form.lo_postcode = response.data.legal_office.lo_postcode;
          this.form.lo_address1 = response.data.legal_office.lo_address1;
          this.form.lo_address2 = response.data.legal_office.lo_address2;
          this.form.lo_location = response.data.legal_office.lo_location;
          this.form.lo_description = response.data.legal_office.lo_description;
          this.form.lo_main_img = response.data.legal_office.lo_main_img;
          this.form.lo_sub1_img = response.data.legal_office.lo_sub1_img;
          this.form.lo_sub2_img = response.data.legal_office.lo_sub2_img;
          this.form.lo_sub3_img = response.data.legal_office.lo_sub3_img;
          this.form.lo_homepage = response.data.legal_office.lo_homepage;
          this.form.lo_class = response.data.legal_office.lo_class;
          this.form.lo_creator = response.data.legal_office.lo_creator;

          if(this.form.lo_main_img) { this.urlMain = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_main_img; }
          if(this.form.lo_sub1_img) { this.urlSub1 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub1_img; }
          if(this.form.lo_sub2_img) { this.urlSub2 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub2_img; }
          if(this.form.lo_sub3_img) { this.urlSub3 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub3_img; }
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      if (!this.checkString('password', this.form.lo_password)) {
        this.showModal();
        return;
      } else if(this.form.lo_postcode == '') {
        this.infoMsg = '우편번호와 주소가 입력되지 않았습니다.';
        this.showModal();
        return;
      } else if (!this.checkString('number', this.form.lo_regist_number)) {
        this.showModal();
        return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
        this.showModal();
        return;
      } 

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      this.form.lo_creator = this.$store.state.adminData.la_identifier;
      this.form.lo_description = this.form.lo_description.replace(/\'/g,'');

      this.files = [];
      if(this.mainfile != null) { this.files.push(this.mainfile); this.form.lo_main_img = this.mainfile.name; };
      if(this.sub1file != null) { this.files.push(this.sub1file); this.form.lo_sub1_img = this.sub1file.name; };
      if(this.sub2file != null) { this.files.push(this.sub2file); this.form.lo_sub2_img = this.sub2file.name; };
      if(this.sub3file != null) { this.files.push(this.sub3file); this.form.lo_sub3_img = this.sub3file.name; };

      var data = new FormData();
      for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          data.append('files[' + i + ']', file);
          //console.log('image_file['+i+']'+this.files[i]+this.files[i].name);
      }
      data.append('CRUD_mode', 'update');
      data.append('lo_id', this.selected_lo_id);
      data.append('lo_identifier', this.form.lo_identifier);
      data.append('lo_password', this.form.lo_password);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_regist_number', this.form.lo_regist_number);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_description', this.form.lo_description);
      data.append('lo_main_img', this.form.lo_main_img);
      data.append('lo_sub1_img', this.form.lo_sub1_img);
      data.append('lo_sub2_img', this.form.lo_sub2_img);
      data.append('lo_sub3_img', this.form.lo_sub3_img);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLegalOffices();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('lo_id', this.selected_lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        this.getLegalOffices();
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset(); 
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.customers = response.data.legal_offices;
          this.totalRows = this.customers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.onReset();
    this.getLegalOffices();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  .image-bgc {
    background-color:lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-style: dashed;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>