<template>
  <div class="create-adtype">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 타입:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-if="protectFlag == false" v-model="form.at_type" :options="type_options" required class="mb-1" />
              <b-form-input v-if="protectFlag == true" type="text" v-model="form.at_desc" readonly ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 금액:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_price" required placeholder="광고금액을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">적용 일수:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_based_days" required placeholder="광고 적용 일수를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 시작일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="date" v-model="form.at_sale_from_date"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 종료일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="date" v-model="form.at_sale_to_date"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 금액:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_sale_price" placeholder="광고 세일금액을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 위치:</b-col>
          <b-col cols="6">
            <b-form-group>
              <input type="file" id="file" ref="file" accept="image/*" v-on:change="handleFileUpload()"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4"></b-col>
          <b-col cols="6">
            <img  v-if="readFlag == false" v-bind:src="imagePreview" v-show="showPreview"/>
            <img  v-if="readFlag == true" v-bind:src="location_image"/>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="ad_types"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'create-adtype',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_at_id: '',
      formShow: true,
      file: null,
      showPreview: false,
      imagePreview: '',
      readFlag: false,
      protectFlag: false,
      location_image: '',
      form: {
        at_type: '',
        at_desc: '',
        at_price: 0,
        at_sale_price: 0,
        at_sale_from_date: '',
        at_sale_to_date: '',
        at_location_image: '',
        at_based_days: 0,
        at_creator: '',     
      },
      type_options: [
        { value: '10', text: '프리미엄 배너광고' },
        { value: '20', text: '메인 배너광고' },
        { value: '30', text: '지역 배너광고' },
        { value: '40', text: '상품 배너광고' },
        { value: '50', text: '배너 베스트뱃지' },
        { value: '60', text: '실시간 회생문의 추가 등록' },
        { value: '70', text: '실시간 회생문의 등록 횟수' },
        { value: '99', text: '업체리스트 줄광고' },
      ],
      ad_types: [],
      fields: [
        { key: 'at_type', label: '코드', 'class': 'text-center' },
        { key: 'at_desc', label: '설명', 'class': 'text-center' },
        { key: 'at_price', label: '금액', 'class': 'text-center' },
        { key: 'at_sale_from_date', label: '세일시작일', 'class': 'text-center' },
        { key: 'at_sale_to_date', label: '세일종료일', 'class': 'text-center' },
        { key: 'at_sale_price', label: '세일금액', 'class': 'text-center' },
        { key: 'at_location_image', label: '이미지', 'class': 'text-center' },
        { key: 'at_based_days', label: '적용일수', 'class': 'text-center' },
        { key: 'at_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    handleFileUpload: function(){
      this.readFlag = false;
      //Set the local file variable to what the user has selected.
      this.file = this.$refs.file.files[0];
      /*
      alert(JSON.stringify(this.$refs.file.files[0]));
      alert(JSON.stringify(this.file));
      alert(JSON.stringify(this.file.name));
      */
      //Initialize a File Reader object
      let reader  = new FileReader();
      /*
        Add an event listener to the reader that when the file
        has been loaded, we flag the show preview as true and set the
        image to be what was read from the reader.
      */
      reader.addEventListener("load", function () {
        this.showPreview = true;
        this.imagePreview = reader.result;
      }.bind(this), false);

      //Check to see if the file is not empty.
      if( this.file ){
        //Ensure the file is an image file.
        if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
          /*
            Fire the readAsDataURL method which will read the file in and
            upon completion fire a 'load' event which we will listen to and
            display the image in the preview.
          */
          reader.readAsDataURL( this.file );
          this.form.at_location_image = this.file.name;
        }
      }
    },

    onSubmit(evt) {
      evt.preventDefault();
      // alert(JSON.stringify(this.form));
      //console.log('this.form.at_desc ---> '+this.form.at_desc);

      for (var i=0; i<this.type_options.length; i++) {
        if(this.form.at_type == this.type_options[i].value) {
          this.form.at_desc = this.type_options[i].text;
        }
      }
      if(this.form.at_price <= 0) {
        this.infoMsg = '광고 금액을 확인해 주세요';
        this.showModal();
        return;
      } else if(this.form.at_based_days <= 0) {
        this.infoMsg = '적용 일수를 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date == "" || this.form.at_sale_to_date == "") && this.form.at_sale_price > 0) {
        this.infoMsg = '세일 시작일과 종료일을 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date != "" || this.form.at_sale_to_date != "") && this.form.at_sale_price <= 0) {
        this.infoMsg = '세일 금액을 확인해 주세요';
        this.showModal();
        return;
      } else  if(this.form.at_sale_price < 0 && (this.form.at_sale_from_date >= this.form.at_sale_to_date)) {
        this.infoMsg = '세일 시작일이 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      }

      this.form.at_creator = this.$store.state.adminData.la_identifier;

      var data = new FormData();
      data.append('file', this.file);                                 // location_image file
      data.append('CRUD_mode', 'create');
      data.append('at_type', this.form.at_type);
      data.append('at_desc', this.form.at_desc);
      data.append('at_price', this.form.at_price);
      data.append('at_sale_price', this.form.at_sale_price);
      data.append('at_sale_from_date', this.form.at_sale_from_date);
      data.append('at_sale_to_date', this.form.at_sale_to_date);
      data.append('at_location_image', this.form.at_location_image);   // location_image file name
      data.append('at_based_days', this.form.at_based_days);
      data.append('at_creator', this.form.at_creator);
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data,
        {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset();
          this.getAdTypes();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      
      this.showModal();
    },

    onReset() {
      this.file = null;
      this.imagePreview = '';
      this.form.at_type = '';
      this.form.at_desc = '';
      this.form.at_price = 0;
      this.form.at_sale_price = 0;
      this.form.at_sale_from_date = '';
      this.form.at_sale_to_date = '';
      this.form.at_location_image = '';
      this.form.at_based_days = 0;
      this.form.at_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.readFlag = false;
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_at_id = item.at_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('at_id', this.selected_at_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.ad_type = response.data.ad_type.ad_type;
          this.form.at_desc = response.data.ad_type.at_desc;
          this.form.at_price = response.data.ad_type.at_price;
          this.form.at_sale_price = response.data.ad_type.at_sale_price;
          this.form.at_sale_from_date = response.data.ad_type.at_sale_from_date;
          this.form.at_sale_to_date = response.data.ad_type.at_sale_to_date;
          this.form.at_location_image = response.data.ad_type.at_location_image;
          this.form.at_based_days = response.data.ad_type.at_based_days;
          this.location_image = this.$store.state.lawketImageUrl+'lawket/ad_image/'+response.data.ad_type.at_location_image;
          this.file = this.location_image;
          this.readFlag = true;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      if(this.form.at_price <= 0) {
        this.infoMsg = '광고 금액을 확인해 주세요';
        this.showModal();
        return;
      } else if(this.form.at_based_days <= 0) {
        this.infoMsg = '적용 일수를 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date == "" || this.form.at_sale_to_date == "") && this.form.at_sale_price > 0) {
        this.infoMsg = '세일 시작일과 종료일을 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date != "" || this.form.at_sale_to_date != "") && this.form.at_sale_price <= 0) {
        this.infoMsg = '세일 금액을 확인해 주세요';
        this.showModal();
        return;
      } else  if(this.form.at_sale_price < 0 && (this.form.at_sale_from_date >= this.form.at_sale_to_date)) {
        this.infoMsg = '세일 시작일이 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      }

      this.form.at_creator = this.$store.state.adminData.la_identifier;

      var data = new FormData();
      data.append('file', this.file);                                 // location_image file
      data.append('CRUD_mode', 'update');
      data.append('at_id', this.selected_at_id);
      data.append('at_type', this.form.at_type);
      data.append('at_desc', this.form.at_desc);
      data.append('at_price', this.form.at_price);
      data.append('at_sale_price', this.form.at_sale_price);
      data.append('at_sale_from_date', this.form.at_sale_from_date);
      data.append('at_sale_to_date', this.form.at_sale_to_date);
      data.append('at_location_image', this.form.at_location_image);   // location_image file name
      data.append('at_based_days', this.form.at_based_days);
      data.append('at_creator', this.form.at_creator);

      //alert(JSON.stringify(this.file.name));

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.onReset();
          this.getAdTypes();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      
      this.showModal();

    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('at_id', this.selected_at_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        this.onReset();
        this.getAdTypes();
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          if(item.la_at_desc == this.$store.state.adminData.la_at_desc) {
            //alert('this.$store.state.adminData.at_desc ==> '+this.$store.state.adminData.at_desc);
            this.$store.state.adminFlag = false;
            this.$store.state.adminData = [];
            this.$router.push({ path: '/' });
          }
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_types = response.data.ad_types;
          this.totalRows = this.ad_types.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },

    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.onReset();
    this.getAdTypes();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>