<template>
  <div class="create-adtype">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 종류:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-if="!protectFlag" v-model="form.at_type" :options="type_options" required class="mb-1" />
              <b-form-input v-if="protectFlag" type="text" v-model="form.at_desc" readonly ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 금액:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_price" required placeholder="광고금액을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">적용 일수:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_based_days" required placeholder="광고 적용 일수를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 시작일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="date" v-model="form.at_sale_from_date"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 종료일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="date" v-model="form.at_sale_to_date"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">세일 금액:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="number" v-model="form.at_sale_price" placeholder="광고 세일금액을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 위치 이미지:</b-col>
          <b-col cols="6">
            <b-form-file type="file" accept="image/*" @change="onMainChange" placeholder="광고 이미지를 선택하세요"></b-form-file>
            <div id="preview"><img v-if="url_location_image" :src="url_location_image"></div>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="ad_types"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal>
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'create-adtype',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_at_id: '',
      formShow: true,
      url_location_image: null,
      location_image_file: null,
      readFlag: false,
      protectFlag: false,
      form: {
        at_type: '',
        at_desc: '',
        at_price: 0,
        at_sale_price: 0,
        at_sale_from_date: '',
        at_sale_to_date: '',
        at_location_image: '',
        at_based_days: 0,
        at_creator: '',     
      },
      ad_types: [],
      type_options: [
        { value: '10', text: '프리미엄 배너광고' },
        { value: '20', text: '메인 배너광고' },
        { value: '30', text: '지역 배너광고' },
        { value: '40', text: '상품 배너광고' },
        { value: '50', text: '배너 베스트뱃지' },
        { value: '60', text: '실시간 회생문의 추가 등록' },
        { value: '70', text: '실시간 회생문의 등록 횟수' },
        { value: '99', text: '업체리스트 줄광고' },
      ],
      fields: [
        { key: 'at_type', label: '코드', 'class': 'text-center' },
        { key: 'at_desc', label: '광고 종류', 'class': 'text-center' },
        { key: 'at_price', label: '금액', 'class': 'text-center' },
        { key: 'at_sale_from_date', label: '세일시작일', 'class': 'text-center' },
        { key: 'at_sale_to_date', label: '세일종료일', 'class': 'text-center' },
        { key: 'at_sale_price', label: '세일금액', 'class': 'text-center' },
        { key: 'at_location_image', label: '이미지', 'class': 'text-center' },
        { key: 'at_based_days', label: '적용일수', 'class': 'text-center' },
        { key: 'at_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    onMainChange(e) {
      this.location_image_file = e.target.files[0];
      this.url_location_image = URL.createObjectURL(this.location_image_file);
    },

    onSubmit(evt) {
      evt.preventDefault();
      // alert(JSON.stringify(this.form));
      //console.log('this.form.at_desc ---> '+this.form.at_desc);

      for (var i=0; i<this.type_options.length; i++) {
        if(this.form.at_type == this.type_options[i].value) {
          this.form.at_desc = this.type_options[i].text;
        }
      }
      if(this.form.at_price <= 0) {
        this.infoMsg = '광고 금액을 확인해 주세요';
        this.showModal();
        return;
      } else if(this.form.at_based_days <= 0) {
        this.infoMsg = '적용 일수를 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date == '' || this.form.at_sale_to_date == '') && this.form.at_sale_price > 0) {
        this.infoMsg = '세일 시작일과 종료일을 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date != this.form.at_sale_to_date) && this.form.at_sale_price <= 0) {
        this.infoMsg = '세일 금액을 확인해 주세요';
        this.showModal();
        return;
      } else  if(this.form.at_sale_price < 0 && (this.form.at_sale_from_date > this.form.at_sale_to_date)) {
        this.infoMsg = '세일 시작일이 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      } else if (this.url_location_image == null) {
          this.infoMsg = '광고 이미지를 선택해 주세요.';
          this.showModal();
          return;
      }

      if(this.location_image_file != null) { this.form.at_location_image = this.location_image_file.name; };
      this.form.at_creator = this.$store.state.adminData.la_identifier;

      var data = new FormData();
      data.append('file', this.location_image_file);                                 
      data.append('CRUD_mode', 'create');
      data.append('at_type', this.form.at_type);
      data.append('at_desc', this.form.at_desc);
      data.append('at_price', this.form.at_price);
      data.append('at_sale_price', this.form.at_sale_price);
      data.append('at_sale_from_date', this.form.at_sale_from_date);
      data.append('at_sale_to_date', this.form.at_sale_to_date);
      data.append('at_location_image', this.form.at_location_image);   
      data.append('at_based_days', this.form.at_based_days);
      data.append('at_creator', this.form.at_creator);
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data,
        {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdTypes();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.url_location_image = null;
      this.location_image_file = null;
      this.form.at_type = '';
      this.form.at_desc = '';
      this.form.at_price = 0;
      this.form.at_sale_price = 0;
      this.form.at_sale_from_date = '';
      this.form.at_sale_to_date = '';
      this.form.at_location_image = '';
      this.form.at_based_days = 0;
      this.form.at_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.readFlag = false;
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_at_id = item.at_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('at_id', this.selected_at_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.ad_type = response.data.ad_type.ad_type;
          this.form.at_desc = response.data.ad_type.at_desc;
          this.form.at_price = response.data.ad_type.at_price;
          this.form.at_sale_price = response.data.ad_type.at_sale_price;
          if(response.data.ad_type.at_sale_from_date == '1969-12-31') {
            this.form.at_sale_from_date = '';
          } else {
            this.form.at_sale_from_date = response.data.ad_type.at_sale_from_date;
          };
          if(response.data.ad_type.at_sale_to_date == '1969-12-31') {
            this.form.at_sale_to_date = '';
          } else {
            this.form.at_sale_to_date = response.data.ad_type.at_sale_to_date;
          };
          this.form.at_location_image = response.data.ad_type.at_location_image;
          this.form.at_based_days = response.data.ad_type.at_based_days;
          this.url_location_image = this.$store.state.lawketImageUrl+'lawket/ad_image/'+this.form.at_location_image;
          this.readFlag = true;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      if(this.form.at_price <= 0) {
        this.infoMsg = '광고 금액을 확인해 주세요';
        this.showModal();
        return;
      } else if(this.form.at_based_days <= 0) {
        this.infoMsg = '적용 일수를 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date == '' || this.form.at_sale_to_date == '') && this.form.at_sale_price > 0) {
        this.infoMsg = '세일 시작일과 종료일을 확인해 주세요';
        this.showModal();
        return;
      } else if((this.form.at_sale_from_date != this.form.at_sale_to_date) && this.form.at_sale_price <= 0) {
        this.infoMsg = '세일 금액을 확인해 주세요';
        this.showModal();
        return;
      } else  if(this.form.at_sale_price < 0 && (this.form.at_sale_from_date > this.form.at_sale_to_date)) {
        this.infoMsg = '세일 시작일이 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      } else if (this.url_location_image == null) {
          this.infoMsg = '광고 이미지를 선택해 주세요.';
          this.showModal();
          return;
      }
      /*
      if(this.form.at_sale_from_date == '1969-12-31') {
        alert(JSON.stringify('Date compare succesful!!!'));
      }
      */
      this.form.at_creator = this.$store.state.adminData.la_identifier;
      if(this.location_image_file != null) { this.form.at_location_image = this.location_image_file.name; };

      var data = new FormData();
      data.append('file', this.location_image_file);
      data.append('CRUD_mode', 'update');
      data.append('at_id', this.selected_at_id);
      data.append('at_type', this.form.at_type);
      data.append('at_desc', this.form.at_desc);
      data.append('at_price', this.form.at_price);
      data.append('at_sale_price', this.form.at_sale_price);
      data.append('at_sale_from_date', this.form.at_sale_from_date);
      data.append('at_sale_to_date', this.form.at_sale_to_date);
      data.append('at_location_image', this.form.at_location_image);
      data.append('at_based_days', this.form.at_based_days);
      data.append('at_creator', this.form.at_creator);

      //alert(JSON.stringify('onUpdate() --> '+this.location_image_file));
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdTypes();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('at_id', this.selected_at_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        this.getAdTypes();
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          if(item.la_at_desc == this.$store.state.adminData.la_at_desc) {
            //alert('this.$store.state.adminData.at_desc ==> '+this.$store.state.adminData.at_desc);
            this.$store.state.adminFlag = false;
            this.$store.state.adminData = [];
            this.$router.push({ path: '/' });
          }
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_types = response.data.ad_types;
          for (let i=0; i<this.ad_types.length; i++) {
            if(this.ad_types[i].at_sale_from_date == '1969-12-31') {
              this.ad_types[i].at_sale_from_date = '';
            };
            if(this.ad_types[i].at_sale_to_date == '1969-12-31') {
              this.ad_types[i].at_sale_to_date = '';
            };
          }
          this.totalRows = this.ad_types.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },

    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.onReset();
    this.getAdTypes();
    /*
    this.form.at_sale_from_date = new Date().toJSON().slice(0,10).replace(/-/g,'.');
    alert(JSON.stringify('this.form.at_sale_from_date -->'+this.form.at_sale_from_date));
    */
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>