<template>
  <div class="create-faq">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">제목:</b-col>
          <b-col cols="7">
            <b-form-group>
              <b-form-input type="text" v-model="form.f_subject" required placeholder="제목을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="1" class="col-text">내용:</b-col>
          <b-col cols="7">
            <wysiwyg v-model="form.f_content" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn size="sm" variant="secondary" @click="getTips">Get</b-btn>
            <b-btn size="sm" variant="secondary" @click="writeTips">Push</b-btn>
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="faqs"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
          <b-btn size="sm" @click.stop="row.toggleDetails"> {{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card> {{row.item.f_content}} </b-card>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal>
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'create-faq',
  components: {
    AdminNavi,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_f_id: '',
      formShow: true,
      protectFlag: false,
      form: {
        f_id: 0,
        f_subject: '',
        f_content: '',     
      },
      faqs: [],
      tips: [],
      fields: [
        { key: 'f_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'f_subject', label: '제목', 'class': 'text-center' },
        { key: 'f_creator', label: '만든이', 'class': 'text-center' },
        { key: 'created', label: '날짜' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      editorOption: {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'font': [] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['bold', 'italic'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ['link', 'image']
          ],
        }
      }
    }
  },
  computed: {
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      // alert(JSON.stringify(this.form));
      if(this.form.f_content == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }
      this.form.f_creator = this.$store.state.adminData.la_identifier;
      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('f_subject', this.form.f_subject);
      data.append('f_content', this.form.f_content);
      data.append('f_creator', this.form.f_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getFaqs();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.form.f_id = 0;
      this.form.f_subject = '';
      this.form.f_content = '';
      this.form.f_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_f_id = item.f_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('f_id', this.selected_f_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.f_subject = response.data.faq.f_subject;
          this.form.f_content = response.data.faq.f_content;
          this.form.f_creator = response.data.faq.f_creator;
          this.form.created = response.data.faq.created;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      this.form.f_creator = this.$store.state.adminData.la_identifier;
      if(this.form.f_content == '') {
          this.infoMsg = '내용을 입력하세요.';
          this.showModal();
          return;
      }
      var data = new FormData();
      data.append('CRUD_mode', 'update');
      data.append('f_id', this.selected_f_id);
      data.append('f_subject', this.form.f_subject);
      data.append('f_content', this.form.f_content);
      data.append('f_creator', this.form.f_creator);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getFaqs();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('f_id', this.selected_f_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        this.getFaqs();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    getFaqs() {
      this.faqs = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.faqs = response.data.faqs;
          for(let i=0; i<this.faqs.length; i++) {
            this.faqs[i].f_content = this.faqs[i].f_content.replace(/<\/?[^>]+(>|$)/g, "");
            this.faqs[i].f_content = this.faqs[i].f_content.replace(/&nbsp;/gi, ' ');
            this.faqs[i].f_content = this.faqs[i].f_content.replace(/&gt;/gi, ' ');
          }
          this.totalRows = this.faqs.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },    

    getTips() {
      this.tips = [];
      var data = new FormData();
      data.append('getMode', 'all');
      axios.post(this.$store.state.baekyangBaseUrl+'by_getTips.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.tips = response.data.tips;
          this.totalRows = this.faqs.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    writeTips() {
      for(let i=0; i<this.tips.length; i++) {
        this.tips[i].content = this.tips[i].content.replace(/\'/g,'');
        var data = new FormData();
        data.append('CRUD_mode', 'all_create');
        data.append('f_subject', this.tips[i].subject);
        data.append('f_content', this.tips[i].content);
        data.append('f_creator', this.$store.state.adminData.la_identifier);

        axios.post(this.$store.state.lawketBaseUrl+'CRUD_faq.php', data)
        .then(response => {
          if(!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
            return;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => this.loading = false);
      }
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.onReset();
    this.getFaqs();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>