<template>
  <div class="request-ad">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="2" class="col-text">아이디:</b-col>
        <b-col cols="6">
          <b-form-group>
            <b-form-input v-if="!formShow" type="text" v-model="legal_office.lo_identifier" placeholder="아이디를 입력하세요."></b-form-input>
            <b-form-input v-if="formShow" type="text" v-model="legal_office.lo_identifier" readonly></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="2" class="col-text">패스워드:</b-col>
        <b-col cols="6">
          <b-form-group>
            <b-form-input v-if="!formShow" type="password" v-model="legal_office.lo_password" placeholder="패스워드를 입력하세요."></b-form-input>
            <b-form-input v-if="formShow" type="password" v-model="legal_office.lo_password" readonly></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="formShow">
        <b-col cols="2"></b-col>
        <b-col cols="2" class="col-text">회사명:</b-col>
        <b-col cols="6">
          <b-form-group>
            <b-form-input type="text" v-model="legal_office.lo_name" readonly></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="6" align="center">
          <b-btn size="sm" variant="dark" @click="cancel">취소</b-btn>
          <b-btn size="sm" variant="primary" @click="login">확인</b-btn>
        </b-col>
      </b-row>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>        
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 종류:</b-col>
          <b-col cols="4">
            <b-form-group>
              <b-form-select v-if="!paymentFlag" v-model="form.ah_at_type" :options="type_options" @change.native="onTypeChange"></b-form-select>
              <b-form-input v-if="paymentFlag == true" type="text" v-model="form.at_desc" readonly ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-form-group>
              <b-form-input v-model="form.at_price" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고신청일자:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!paymentFlag" type="date" v-model="form.ah_occur_date"></b-form-input>
              <b-form-input v-if="paymentFlag" type="date" v-model="form.ah_occur_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고개시일자:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!paymentFlag" type="date" v-model="form.ah_start_date"></b-form-input>
              <b-form-input v-if="paymentFlag" type="date" v-model="form.ah_start_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고종료일자:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!paymentFlag" type="date" v-model="form.ah_end_date"></b-form-input>
              <b-form-input v-if="paymentFlag" type="date" v-model="form.ah_end_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!paymentFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="!paymentFlag" size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn v-if="!paymentFlag" size="sm" variant="danger" @click="onDelete">삭제</b-btn>
            <b-btn v-if="!paymentFlag" size="sm" variant="success" @click="onPayment">결제</b-btn>
            <b-btn v-if="paymentFlag && !protectFlag" size="sm" variant="success" @click="onPaymentConfirm">결제확인</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <br><br>
      <div v-if="formShow">
        <b-table show-empty
                stacked="sm"
                :items="ad_historys"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
        >
          <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="6">
            <b-form-group horizontal label="">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'request-ad',
  components: {
    AdminNavi
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_ah_id: '',
      formShow: false,
      protectFlag: false,
      paymentFlag: false,
      legal_office: {
        lo_id: 0,
        lo_identifier: '',
        lo_password: '',
        lo_name: '',
      },
      form: {
        ah_id: 0,
        ah_at_type: '',
        ah_occur_date: '',
        ah_start_date: '',
        ah_end_date: '',
        ah_payment_amount: 0,
        ah_payment_date: '',
        ah_payment_creator: '',
        ah_payment_confirmer: '',
        ah_payment_confirm_date: '',
        ah_payment_flag: '',          // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
        ah_creator: '',
        at_desc: '',
        at_price: '',    
      },
      ad_types: [],
      type_options: [
        { value: '10', text: '프리미엄 배너광고' },
        { value: '20', text: '메인 배너광고' },
        { value: '30', text: '지역 배너광고' },
        { value: '40', text: '상품 배너광고' },
        { value: '50', text: '배너 베스트뱃지' },
        { value: '60', text: '실시간 회생문의 추가 등록' },
        { value: '70', text: '실시간 회생문의 등록 횟수' },
        { value: '99', text: '업체리스트 줄광고' },
      ],
      ad_historys: [],
      fields: [
        { key: 'ah_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'ah_at_type', label: '광고종류', 'class': 'text-center' },
        { key: 'ah_occur_date', label: '신청일자', 'class': 'text-center' },
        { key: 'ah_start_date', label: '광고개시일자', 'class': 'text-center' },
        { key: 'ah_end_date', label: '광고종료일자', 'class': 'text-center' },
        { key: 'ah_payment_amount', label: '광고결제액', 'class': 'text-center' },
        { key: 'ah_payment_date', label: '결제일', 'class': 'text-center' },
        { key: 'ah_payment_creator', label: '결제자', 'class': 'text-center' },
        { key: 'ah_payment_confirm_date', label: '결제확인일자', 'class': 'text-center' },
        { key: 'ah_payment_confirmer', label: '결제확인자', 'class': 'text-center' },
        { key: 'ah_payment_flag', label: 'Flag', 'class': 'text-center' },
        { key: 'ah_creator', label: '만든이', 'class': 'text-center' },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    cancel() {
      this.formShow = false;
      this.protectFlag = false;
      this.paymentFlag = false;
      this.legal_office.lo_id = 0;
      this.legal_office.lo_identifier = '';
      this.legal_office.lo_password = '';
      this.legal_office.lo_name = '';
      this.onReset();
    },

    login() {
      var data = new FormData();
      data.append('CRUD_mode', 'login');
      data.append('lo_identifier', this.legal_office.lo_identifier);
      data.append('lo_password', this.legal_office.lo_password);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.legal_office.lo_id = response.data.legal_office.lo_id;
          this.legal_office.lo_name = response.data.legal_office.lo_name;
          this.getAdHistorys();
          this.formShow = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onTypeChange(evt) {
      this.form.ah_at_type = evt.target.value;
      for (let i = 0; i < this.ad_types.length ; i++) {
        if(this.form.ah_at_type == this.ad_types[i].at_type) {
          this.form.at_desc = this.ad_types[i].at_desc;
          this.form.at_price = this.ad_types[i].at_price +'원';
          this.form.ah_payment_amount = this.ad_types[i].at_price;
        }
      }
    },

    onSubmit(evt) {
      evt.preventDefault();
      if(!this.form.at_price) {
        this.infoMsg = '광고 종류을 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_occur_date) {
        this.infoMsg = '광고신청일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_start_date) {
        this.infoMsg = '광고개시일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_end_date) {
        this.infoMsg = '광고종료일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_start_date > this.form.ah_end_date) {
        this.infoMsg = '광고 개시일이 광고 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      } 
      this.form.ah_payment_amount = this.form.ah_payment_amount.replace(/\,/g,'');
      this.form.ah_payment_flag = 'r'; // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
      this.form.ah_creator = this.legal_office.lo_identifier;

      var data = new FormData();
      data.append('CRUD_mode', 'create');                    
      data.append('ah_at_type', this.form.ah_at_type);
      data.append('ah_occur_date', this.form.ah_occur_date);
      data.append('ah_start_date', this.form.ah_start_date);
      data.append('ah_end_date', this.form.ah_end_date);
      data.append('ah_payment_amount', this.form.ah_payment_amount);
      data.append('ah_payment_date', this.form.ah_payment_date);
      data.append('ah_payment_creator', this.form.ah_payment_creator);
      data.append('ah_payment_confirmer', this.form.ah_payment_confirmer);
      data.append('ah_payment_confirm_date', this.form.ah_payment_confirm_date);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('legal_office_lo_id', this.legal_office.lo_id);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();

    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);
      if(type == 'password') {
        //alert(JSON.stringify(pw.length));
        if(pw.length < 8 || pw.length > 15){
          this.infoMsg = '비밀번호는 영.숫자 포함 6자리 ~ 15자리 이내로 입력해주세요.';
          return false;
        }
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
          return false;
        } 
        if(num < 0 || eng < 0){
          this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
          return false;
        }
      } else {
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '공백없이 입력해주세요.';
          return false;
        } 
        if(eng != -1 || spe != -1 || kor != -1){
          this.infoMsg = '사업자등록번호와 광고개시일자는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onReset() {
      this.form.ah_at_type = '';
      this.form.ah_occur_date = '';
      this.form.ah_start_date = '';
      this.form.ah_end_date = '';
      this.form.ah_payment_amount = '';
      this.form.ah_payment_date = '';
      this.form.ah_payment_creator = '';
      this.form.ah_payment_confirmer = '';
      this.form.ah_payment_confirm_date = '';
      this.form.ah_payment_flag = '';
      this.form.ah_creator = '';
      this.form.at_price = '';
      this.form.at_desc = '';
      this.protectFlag = false;
      this.paymentFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_ah_id = item.ah_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.ah_id = response.data.ad_history.ah_id;
          this.form.ah_at_type = response.data.ad_history.ah_at_type;
          this.form.ah_occur_date = response.data.ad_history.ah_occur_date;
          this.form.ah_start_date = response.data.ad_history.ah_start_date;
          this.form.ah_end_date = response.data.ad_history.ah_end_date;
          this.form.ah_payment_amount = response.data.ad_history.ah_payment_amount;
          this.form.ah_payment_date = response.data.ad_history.ah_payment_date;
          this.form.ah_payment_creator = response.data.ad_history.ah_payment_creator;
          this.form.ah_payment_confirmer = response.data.ad_history.ah_payment_confirmer;
          this.form.ah_payment_confirm_date = response.data.ad_history.ah_payment_confirm_date;
          this.form.ah_creator = response.data.ad_history.ah_creator;
          this.form.ah_payment_flag = response.data.ad_history.ah_payment_flag;
          for (let i = 0; i < this.ad_types.length ; i++) {
            if(this.form.ah_at_type == this.ad_types[i].at_type) {
              this.form.at_desc = this.ad_types[i].at_desc;
              this.form.at_price = this.ad_types[i].at_price +'원';
            }
          }
          this.form.at_price = this.form.ah_payment_amount +'원';
          if(this.form.ah_payment_date == '1969-12-31') { this.form.ah_payment_date = ''; };
          if(this.form.ah_payment_confirm_date == '1969-12-31') { this.form.ah_payment_confirm_date = ''; };
          if(this.form.ah_payment_flag == 'p') { this.paymentFlag = true; this.protectFlag = false; }
          if(this.form.ah_payment_flag == 'c') { 
            this.paymentFlag = true; 
            this.protectFlag = true;
            this.infoMsg = '이미 결제 확인이 완료된 데이터입니다.';
            this.showModal();
            return; 
          }
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      if(!this.form.at_price) {
        this.infoMsg = '광고 종류을 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_occur_date) {
        this.infoMsg = '광고신청일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_start_date) {
        this.infoMsg = '광고개시일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_end_date) {
        this.infoMsg = '광고종료일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_start_date > this.form.ah_end_date) {
        this.infoMsg = '광고 개시일이 광고 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      } 
      this.form.ah_payment_amount = this.form.ah_payment_amount.replace(/\,/g,'');
      this.form.ah_payment_flag = 'r'; // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
      this.form.ah_creator = this.legal_office.lo_identifier;

      var data = new FormData();
      data.append('CRUD_mode', 'update');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_at_type', this.form.ah_at_type);
      data.append('ah_occur_date', this.form.ah_occur_date);
      data.append('ah_start_date', this.form.ah_start_date);
      data.append('ah_end_date', this.form.ah_end_date);
      data.append('ah_payment_amount', this.form.ah_payment_amount);
      data.append('ah_payment_date', this.form.ah_payment_date);
      data.append('ah_payment_creator', this.form.ah_payment_creator);
      data.append('ah_payment_confirmer', this.form.ah_payment_confirmer);
      data.append('ah_payment_confirm_date', this.form.ah_payment_confirm_date);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('legal_office_lo_id', this.legal_office.lo_id);                   

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.getAdHistorys();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    onPayment() {
      //this.form.ah_payment_amount = this.form.ah_payment_amount.replace(/\,/g,'');
      this.form.ah_creator = this.legal_office.lo_identifier;
      this.form.ah_payment_creator = this.legal_office.lo_identifier;
      this.form.ah_payment_flag = 'p';  // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)

      var data = new FormData();
      data.append('CRUD_mode', 'payment');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_payment_creator', this.form.ah_payment_creator);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('legal_office_lo_id', this.legal_office.lo_id);

      alert(JSON.stringify(this.form));
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onPaymentConfirm() {
      //this.form.ah_payment_amount = this.form.ah_payment_amount.replace(/\,/g,'');
      this.form.ah_creator = this.legal_office.lo_identifier;
      this.form.ah_payment_confirmer = this.legal_office.lo_identifier;
      this.form.ah_payment_flag = 'c';  // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)

      var data = new FormData();
      data.append('CRUD_mode', 'confirm');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_payment_confirmer', this.form.ah_payment_confirmer);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('legal_office_lo_id', this.legal_office.lo_id);

      alert(JSON.stringify(this.form));
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    getAdHistorys() {
      this.ad_historys = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_historys = response.data.ad_historys;
          for (let i=0; i<this.ad_historys.length; i++) {
            if(this.ad_historys[i].ah_payment_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_date = '';
            };
            if(this.ad_historys[i].ah_payment_confirm_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_confirm_date = '';
            };
          }
          this.totalRows = this.ad_historys.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },

    hideModal() {
      this.$refs.infoModal.hide()
    },

    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_types = response.data.ad_types;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  },

  mounted() {
    this.onReset();
    this.getAdTypes();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>