<template>
  <div class="upload-file">
    <AdminNavi></AdminNavi>
    <b-container fluid>
      <b-row>
        <b-col cols="3" class="image-bgc">
          <b-form-file type="file" @change="onMainChange" placeholder="메인 이미지를 선택하세요"></b-form-file>
          <div id="preview"><img v-if="urlMain" :src="urlMain"></div>
          <div>{{urlMainName}}</div>
        </b-col>
        <b-col cols="3" class="image-bgc">
          <b-form-file type="file" @change="onSub1Change" placeholder="서브 이미지1을 선택하세요"></b-form-file>
          <div id="preview"><img v-if="urlSub1" :src="urlSub1"></div>
          <div>{{urlSub1Name}}</div>
        </b-col>
        <b-col cols="3" class="image-bgc">
          <b-form-file type="file" @change="onSub2Change" placeholder="서브 이미지2을 선택하세요"></b-form-file>
          <div id="preview"><img v-if="urlSub2" :src="urlSub2"></div>
          <div>{{urlSub2Name}}</div>
        </b-col>
        <b-col cols="3" class="image-bgc">
          <b-form-file type="file" @change="onSub3Change" placeholder="서브 이미지3을 선택하세요"></b-form-file>
          <div id="preview"><img v-if="urlSub3" :src="urlSub3"></div>
          <div>{{urlSub3Name}}</div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AdminNavi from './AdminNavi';
import axios from 'axios';

export default {
  name: 'upload-file',
  components: {
    AdminNavi,
  },
  data () {
    return {
      urlMain: null,
      urlSub1: null,
      urlSub2: null,
      urlSub3: null,
      urlMainName: ''
    }
  },
  computed: {
  },
  methods: {
    onMainChange(e) {
      const file = e.target.files[0];
      this.urlMain = URL.createObjectURL(file);
      this.urlMainName = file.name;
    },
    onSub1Change(e) {
      const file = e.target.files[0];
      this.urlSub1 = URL.createObjectURL(file);
      this.urlSub1Name = file.name;
    },
    onSub2Change(e) {
      const file = e.target.files[0];
      this.urlSub2 = URL.createObjectURL(file);
      this.urlSub2Name = file.name;
    },
    onSub3Change(e) {
      const file = e.target.files[0];
      this.urlSub3 = URL.createObjectURL(file);
      this.urlSub3Name = file.name;
    }
  },
  mounted() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.image-bgc {
  background-color:lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  outline-style: dashed;
}

body {
  background-color: #e2e2e2;
}

#app {
  padding: 20px;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
</style>