<template>
  <div class="Step1">
    <Navi></Navi>
    <b-container fluid>
      <div v-if="!this.$store.state.legalOfficeFlag && !joinFlag">
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="legal_office.lo_identifier" placeholder="아이디"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="password" v-model="legal_office.lo_password" placeholder="비밀번호"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3" align="center">
            <b-btn block variant="primary" @click="login">로그인</b-btn>
          </b-col>
          <b-col cols="3" align="center">
            <b-btn block variant="outline-primary" @click="updateInfo">정보변경</b-btn>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="2" align="center">
            <b-btn block variant="secondary" @click="searchId">아이디 찾기</b-btn>
          </b-col>
          <b-col cols="2" align="center">
            <b-btn block variant="secondary" @click="searchPassword">비밀번호 찾기</b-btn>
          </b-col>
          <b-col cols="2" align="center">
            <b-btn block variant="secondary" @click="changePassword">비밀번호 변경</b-btn>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="6" align="center">
            <b-btn block variant="success" @click="join">회원가입</b-btn>
          </b-col>
        </b-row>
      </div>
      <div v-if="joinFlag">
        <b-row>
          <b-col cols="4" v-for="(term, key) in terms" :key="key">
            <b-card 
              style="max-width: 30rem;"
              :title="term.t_subject"
              class="mb-3"
            >
              <b-card-body id="nav-scroller"
                  ref="content"
                  style="position:relative; height:300px; overflow-y:scroll;">
                  <p class="card-text"><span v-html="term.t_content"></span></p>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4">
            <b-form-checkbox id="checkbox1" v-model="$store.state.check_terms.lo_terms" value="O" unchecked-value="X">이용약관에 동의합니다.(필수)</b-form-checkbox>
          </b-col>
          <b-col cols="4">
            <b-form-checkbox id="checkbox2" v-model="$store.state.check_terms.lo_offer" value="O" unchecked-value="X">개인정보처리방침에 동의합니다.(필수)</b-form-checkbox>
          </b-col>
          <b-col cols="4">
            <b-form-checkbox id="checkbox3" v-model="$store.state.check_terms.lo_marketing" value="O" unchecked-value="X">책임의 한계와 법적고지에 동의합니다.(선택)</b-form-checkbox>            
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" align="center">
            <b-form-checkbox id="checkbox4" v-model="lo_allAgree" value="O" unchecked-value="X" @change="toggleAllAgree">
              이용약관, 개인정보처리방침과 책임의 한계와 법적고지 모두에 동의합니다.
            </b-form-checkbox>            
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn variant="dark" @click="cancel">취소</b-btn>
            <b-btn variant="primary" @click="next">다음</b-btn>
          </b-col>
        </b-row>
      </div>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal v-model="showSearchModal"
             title="아이디/비밀번호"
             no-close-on-esc
             no-close-on-backdrop
             hide-header-close>
        <b-container fluid >
          <div v-if="searchIdFlag">
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </div>
          <div v-if="searchPasswordFlag">
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="text" v-model="search_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </div>
          <div v-if="changePasswordFlag">
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="text" v-model="search_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="password" v-model="current_password" required placeholder="비밀번호를 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="password" v-model="change_password" required placeholder="변경할 비밀번호를 영.숫자 포함 8자리 ~ 15자리로 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group>
                  <b-form-input type="password" v-model="rechange_password" required placeholder="변경할 비밀번호를 다시 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </div>
          <b-row  class="col-text">
            <b-col cols="3"></b-col>
            <b-col><p>{{ searchModalMessage }}</p></b-col>
          </b-row>
        </b-container>
        <div slot="modal-footer" class="w-100">
          <b-btn size="md" class="float-left" variant="light" @click="exitSearchModal">취소</b-btn>
          <b-btn size="md" class="float-right" variant="primary" @click="trySubmit">제출</b-btn>
        </div>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import Navi from '../Navi';
import axios from 'axios';

export default {
  name: 'Step1',
  components: {
    Navi,
  },
  data () {
    return {
      infoMsg: '',
      joinFlag: false,
      updateInfoFlag: false,
      showSearchModal: false,
      searchIdFlag: false,
      searchPasswordFlag: false,
      changePasswordFlag: false,
      searchModalMessage: '',
      search_identifier: '',
      search_email: '',
      current_password: '',
      change_password: '',
      rechange_password: '',
      legal_office: {
        lo_id: 0,
        lo_identifier: '',
        lo_password: '',
        lo_name: '',
      },
      terms:[],
      lo_allAgree: '',    //전체 동의
    }
  },
  computed: {
  },
  methods: {
    login() {
      var data = new FormData();
      data.append('CRUD_mode', 'login');
      data.append('lo_identifier', this.legal_office.lo_identifier);
      data.append('lo_password', this.legal_office.lo_password);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
            this.$store.state.legalOfficeData = response.data.legal_office;
            this.$store.state.legalOfficeFlag = true;
            if(this.updateInfoFlag) {
              this.$router.push({ path: './UpdateCustomer' });
            } else {
              this.$router.push({ path: '../' });
            }
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    updateInfo() {
      this.updateInfoFlag = true;
      this.login();
    },

    searchId() {
      this.searchIdFlag = true;
      this.showSearchModal = true;
    },
    searchPassword() {      
      this.searchPasswordFlag = true;
      this.showSearchModal = true;
    },
    changePassword() {      
      this.changePasswordFlag = true;
      this.showSearchModal = true;
    },

    exitSearchModal() {
      this.searchModalMessage = '';
      this.search_email = '';
      this.search_identifier = '';
      this.searchIdFlag = false;
      this.searchPasswordFlag = false;
      this.changePasswordFlag = false;
      this.change_password = '';
      this.rechange_password = '';
      this.showSearchModal = false;
    },

    trySubmit() {
      if(this.searchIdFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = '이메일을 입력해주세요.';
          return;
        }
        var data = new FormData();
        data.append('CRUD_mode', 'search_id');
        data.append('lo_email', this.search_email);
        console.log('CRUD_mode --> search_id');
      } else if(this.searchPasswordFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = '이메일을 입력해주세요.';
          return;
        }
        if (this.search_identifier == '') {
          this.searchModalMessage = '아이디를 입력해주세요.';
          return;
        }
        var data = new FormData();
        data.append('CRUD_mode', 'search_pw');
        data.append('lo_email', this.search_email);
        data.append('lo_identifier', this.search_identifier);

      } else if(this.changePasswordFlag) {
        if (this.search_identifier == '') {
          this.searchModalMessage = '아이디를 입력해주세요.';
          return;
        } else if(this.current_password == '') {
          this.searchModalMessage = '비밀번호를 입력해주세요.';
          return;
        } else if (this.change_password == '') {
          this.searchModalMessage = '변경할 비밀번호를 입력해주세요.';
          return;
        } else if(this.rechange_password == '') {
          this.searchModalMessage = '비밀번호를 다시한번 입력해주세요.';
          return;
        } else if(this.change_password != this.rechange_password) {
          this.searchModalMessage = '비밀번호를 다시한번 확인해주세요.';
          return;
        }
        
        if(this.checkString('password', this.change_password) == false) {
          console.log('checkString --> false');
          return;
        }
        var data = new FormData();
        data.append('CRUD_mode', 'change_pw');
        data.append('lo_identifier', this.search_identifier);
        data.append('lo_password', this.current_password);
        data.append('change_password', this.change_password);
      }

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.searchModalMessage = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);

      alert(JSON.stringify(pw.length));
      alert(JSON.stringify('number --> '+num));
      alert(JSON.stringify('english --> '+eng));
      if(pw.length < 8 || pw.length > 15){
        console.log('checkString --> 1');
        this.searchModalMessage = '비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.';
        return false;
      }
      if(pw.search(/₩s/) != -1){
        console.log('checkString --> 2');
        this.searchModalMessage = '비밀번호는 공백없이 입력해주세요.';
        return false;
      } 
      if(num < 0 || eng < 0){
        console.log('checkString --> 3');
        this.searchModalMessage = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
        return false;
      }
    },

    join() {
      this.joinFlag = true;
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
    },

    toggleAllAgree(checked) {
      this.$store.state.check_terms.lo_terms = 'O';       //이용약관
      this.$store.state.check_terms.lo_offer = 'O';       //개인정보 제3자 제공
      this.$store.state.check_terms.lo_marketing = 'O';   //마케팅 정보수신
    },
    cancel() {
      this.$store.state.legalOfficeData = [];
      this.$store.state.legalOfficeFlag = false;
      this.$router.push({ path: '../' });
    },
    next() {
      if(this.$store.state.check_terms.lo_terms != 'O' || this.$store.state.check_terms.lo_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      }
      this.$router.push({ path: './CreateCustomerStep2' });
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.$store.state.legalOfficeFlag = false;
    this.$store.state.check_terms.lo_terms = 'X';
    this.$store.state.check_terms.lo_offer = 'X';
    this.$store.state.check_terms.lo_marketing = 'X';
    this.getTerms();
  },
}
</script>

<style scoped>

</style>