<template>
  <div class="Step3">
    <Navi></Navi>
    <b-container fluid>
      <b-form v-if="formShow">
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">아이디:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_identifier" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">이메일:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="email" v-model="form.lo_email" required placeholder="이메일을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">회사명:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_name" required placeholder="회사명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">대표자명:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_ceo_name" required placeholder="대표자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">사업자등록번호:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_regist_number" required placeholder="사업자등록번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">전화번호:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_phone" required placeholder="전화번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">우편번호:</b-col>
          <b-col cols="2">
            <b-btn size="md" class="float-left" variant="outline-primary" v-b-modal.modallg>우편번호 찾기</b-btn>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_postcode" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">주소 1:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address1" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">주소 2:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address2" placeholder="나머지 주소를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">핵심사업:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_core_business" required placeholder="핵심사업 내용을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" style="padding-right: 0px; padding-left: 30px;">서비스분야:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-checkbox-group id="checkbox" v-model="form.lo_service_division" required>
                <b-form-checkbox v-for="(division, key) in serviceDivisions" :key="key" :value="division.value">{{division.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" style="padding-right: 0px; padding-left: 30px;">서비스대상:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-checkbox-group id="checkbox" v-model="form.lo_service_target" required>
                <b-form-checkbox v-for="(target, key) in serviceTargets" :key="key" :value="target.value">{{target.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" style="padding-right: 0px; padding-left: 30px;">서비스지역:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-checkbox-group id="checkbox" v-model="form.lo_service_area" required>
                <b-form-checkbox v-for="(area, key) in serviceAreas" :key="key" :value="area.value">{{area.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">사업 설명:</b-col>
          <b-col cols="6">
            <wysiwyg v-model="form.lo_description" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">홈페이지:</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="url" v-model="form.lo_homepage" placeholder="홈페이지 url을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onMainChange" placeholder="메인 이미지를 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlMain" :src="urlMain"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub1Change" placeholder="서브 이미지1을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub1" :src="urlSub1"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub2Change" placeholder="서브 이미지2을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub2" :src="urlSub2"></div>
          </b-col>
          <b-col cols="3" class="image-bgc">
            <b-form-file type="file" accept="image/*" @change="onSub3Change" placeholder="서브 이미지3을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="urlSub3" :src="urlSub3"></div>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn size="sm" variant="secondary" @click="onCancel">취소</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="ConfirmModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirm">확인</b-btn>
      </b-modal>
      <b-modal id="modallg" size="lg" title="우편번호 찾기">
        <DaumPostcode
          :on-complete="handleAddress"
        />
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import Navi from '../Navi';
import axios from 'axios';

import DaumPostcode from 'vuejs-daum-postcode'; // for search postcode

export default {
  name: 'Step3',
  components: {
    Navi,
    DaumPostcode
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      formShow: true,
      serviceDivisions: [
        { value: '개인회생', text: '개인회생' },
        { value: '개인파산', text: '개인파산' },
      ],
      serviceTargets: [
        { value: '직장인', text: '직장인' },
        { value: '개인사업자', text: '개인사업자' },
        { value: '프리랜서', text: '프리랜서' },
        { value: '아르바이트', text: '아르바이트' },
        { value: '일용직', text: '일용직' },
      ],
      serviceAreas: [
        { value: '서울', text: '서울' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
      ],
      form: {
        lo_id: 0,
        lo_identifier: '',
        lo_email: '',
        lo_name: '',
        lo_ceo_name: '',
        lo_regist_number: '',
        lo_phone: '',
        lo_postcode: '',
        lo_address1: '',
        lo_address2: '',
        lo_location: '',
        lo_core_business: '',
        lo_service_division: [],
        lo_service_target: [],
        lo_service_area: [],
        lo_description: '',
        lo_main_img: '',
        lo_sub1_img: '',
        lo_sub2_img: '',
        lo_sub3_img: '',
        lo_terms: '',
        lo_offer: '',
        lo_marketing: '',
        lo_homepage: '',
        lo_class: '',
        lo_creator: '',     
      },
      urlMain: null,
      urlSub1: null,
      urlSub2: null,
      urlSub3: null,
      mainfile: null,
      sub1file: null,
      sub2file: null,
      sub3file: null,
      files: [],
      editorOption: {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'font': [] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['bold', 'italic'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ['link', 'image']
          ],
        }
      }
    }
  },
  computed: {
  },
  methods: {
    handleAddress(data) {
      let fullAddress = data.address;
      let zonecode = data.zonecode;

      let extraAddress = '';
      if (data.addressType === 'R') {
        if (data.bname !== '') {
          extraAddress += data.bname;
        }
        if (data.buildingName !== '') {
          extraAddress += (extraAddress !== '' ? `, ${data.buildingName}` : data.buildingName);
        }
        fullAddress += (extraAddress !== '' ? ` (${extraAddress})` : '');
      }
      //console.log("fullAddress --> "+fullAddress) // e.g. '서울 성동구 왕십리로2길 20 (성수동1가)'
      //console.log("zonecode --> "+zonecode) // 도로명 우편번호
      this.form.lo_postcode = zonecode;
      this.form.lo_address1 = fullAddress;
    },
    onMainChange(e) {
      this.mainfile = e.target.files[0];
      this.urlMain = URL.createObjectURL(this.mainfile);
    },
    onSub1Change(e) {
      this.sub1file = e.target.files[0];
      this.urlSub1 = URL.createObjectURL(this.sub1file);
    },
    onSub2Change(e) {
      this.sub2file = e.target.files[0];
      this.urlSub2 = URL.createObjectURL(this.sub2file);
    },
    onSub3Change(e) {
      this.sub3file = e.target.files[0];
      this.urlSub3 = URL.createObjectURL(this.sub3file);
    },


    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/ig);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/ig);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ig);

      if(type == 'password') {
        //alert(JSON.stringify(pw.length));
        if(pw.length < 8 || pw.length > 15){
          this.infoMsg = '비밀번호는 영.숫자 포함 6자리 ~ 15자리 이내로 입력해주세요.';
          return false;
        }
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '비밀번호는 공백없이 입력해주세요.';
          return false;
        } 
        if(num < 0 || eng < 0){
          this.infoMsg = '비밀번호는 영문.숫자를 혼합하여 입력해주세요.';
          return false;
        }
      } else {
        if(pw.search(/₩s/) != -1){
          this.infoMsg = '공백없이 입력해주세요.';
          return false;
        } 
        if(eng != -1 || spe != -1 || kor != -1){
          this.infoMsg = '사업자등록번호와 전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onUpdate() {
      if(this.form.lo_email == '') {
          this.infoMsg = '이메일이 입력되지 않았습니다.';
          this.showModal();
          return;
      } else if(this.form.lo_postcode == '') {
          this.infoMsg = '우편번호와 주소가 입력되지 않았습니다.';
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_regist_number)) {
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if(this.form.lo_description == '') {
          this.infoMsg = '사업 설명을 입력하세요.';
          this.showModal();
          return;
      } else if (this.urlMain == null) {
          this.infoMsg = '메인 이미지를 선택해 주세요.';
          this.showModal();
          return;
      } 

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      this.form.lo_description = this.form.lo_description.replace(/\'/g,'');

      this.files = [];
      if(this.mainfile != null) { this.files.push(this.mainfile); this.form.lo_main_img = this.mainfile.name; };
      if(this.sub1file != null) { this.files.push(this.sub1file); this.form.lo_sub1_img = this.sub1file.name; };
      if(this.sub2file != null) { this.files.push(this.sub2file); this.form.lo_sub2_img = this.sub2file.name; };
      if(this.sub3file != null) { this.files.push(this.sub3file); this.form.lo_sub3_img = this.sub3file.name; };

      var data = new FormData();
      for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          data.append('files[' + i + ']', file);
          //console.log('image_file['+i+']'+this.files[i]+this.files[i].name);
      }
      data.append('CRUD_mode', 'update');
      data.append('lo_id', this.form.lo_id);
      data.append('lo_identifier', this.form.lo_identifier);
      data.append('lo_email', this.form.lo_email);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_regist_number', this.form.lo_regist_number);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_core_business', this.form.lo_core_business);
      data.append('lo_service_division', this.form.lo_service_division.toString());
      data.append('lo_service_target', this.form.lo_service_target.toString());
      data.append('lo_service_area', this.form.lo_service_area.toString());
      data.append('lo_description', this.form.lo_description);
      data.append('lo_main_img', this.form.lo_main_img);
      data.append('lo_sub1_img', this.form.lo_sub1_img);
      data.append('lo_sub2_img', this.form.lo_sub2_img);
      data.append('lo_sub3_img', this.form.lo_sub3_img);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_terms', 'O');
      data.append('lo_offer', 'O');
      data.append('lo_marketing', 'O');
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.confirmMsg = response.data.msg;
          this.$refs.ConfirmModal.show();
        } else {
          this.showModal(); 
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    
    onCancel() {
      this.$router.push({ path: '../' });
    },
    confirm() {
      this.$router.push({ path: '../' });
    },
    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },

    readLegalOffices() {
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('lo_id', this.$store.state.legalOfficeData.lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.lo_id = response.data.legal_office.lo_id;
          this.form.lo_identifier = response.data.legal_office.lo_identifier;
          this.form.lo_email = response.data.legal_office.lo_email;
          this.form.lo_name = response.data.legal_office.lo_name;
          this.form.lo_ceo_name = response.data.legal_office.lo_ceo_name;
          this.form.lo_regist_number = response.data.legal_office.lo_regist_number;
          this.form.lo_phone = response.data.legal_office.lo_phone;
          this.form.lo_postcode = response.data.legal_office.lo_postcode;
          this.form.lo_address1 = response.data.legal_office.lo_address1;
          this.form.lo_address2 = response.data.legal_office.lo_address2;
          this.form.lo_location = response.data.legal_office.lo_location;
          this.form.lo_core_business = response.data.legal_office.lo_core_business;
          this.form.lo_service_division = response.data.legal_office.lo_service_division.split(",");
          this.form.lo_service_target = response.data.legal_office.lo_service_target.split(",");
          this.form.lo_service_area = response.data.legal_office.lo_service_area.split(",");
          this.form.lo_description = response.data.legal_office.lo_description;
          this.form.lo_main_img = response.data.legal_office.lo_main_img;
          this.form.lo_sub1_img = response.data.legal_office.lo_sub1_img;
          this.form.lo_sub2_img = response.data.legal_office.lo_sub2_img;
          this.form.lo_sub3_img = response.data.legal_office.lo_sub3_img;
          this.form.lo_homepage = response.data.legal_office.lo_homepage;
          this.form.lo_terms = response.data.legal_office.lo_terms;
          this.form.lo_offer = response.data.legal_office.lo_offer;
          this.form.lo_marketing = response.data.legal_office.lo_marketing;
          this.form.lo_class = response.data.legal_office.lo_class;
          this.form.lo_creator = response.data.legal_office.lo_identifier;

          if(this.form.lo_main_img) { this.urlMain = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_main_img; }
          if(this.form.lo_sub1_img) { this.urlSub1 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub1_img; }
          if(this.form.lo_sub2_img) { this.urlSub2 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub2_img; }
          if(this.form.lo_sub3_img) { this.urlSub3 = this.$store.state.lawketImageUrl+'customer_image/'+this.form.lo_identifier+'/'+this.form.lo_sub3_img; }
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  },

  mounted() {
    this.readLegalOffices();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  .image-bgc {
    background-color:lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-style: dashed;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>