<template>
  <div class="CustomSearch" align="center">
    <Navi></Navi>
    <div class="container">
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="6">
          <b-input-group>
            <b-form-input size="md" class="mr-md-2" type="text" v-model="$store.state.top_search.lo_description" placeholder="통합검색"/>
            <b-btn variant="info" @click="searchDescription">찾기</b-btn>&nbsp;&nbsp;
            <b-form-input size="md" class="mr-md-2" type="text" v-model="$store.state.top_search.lo_name" placeholder="업체명 검색"/>
            <b-btn variant="info" @click="searchName">찾기</b-btn>
          </b-input-group>
        </b-col>
      </b-row>
      <br>
      <b-row align="left">
        <b-col cols="2"></b-col>
        <b-col>
          <b-btn v-for="(area, key) in serviceAreas" :key="key" size="sm" :pressed.sync="area.state" :variant="area.variant" 
                  @click="selectLocation(area.value)" style="margin-left: 2px;">{{area.text}}</b-btn>
        </b-col>
      </b-row>
      <br>
      <b-row align="left">
        <b-col cols="2"></b-col>
        <b-col>
          <b-btn v-for="(division, key) in serviceDivisions" :key="key" size="sm" :pressed.sync="division.state" :variant="division.variant" 
                  @click="selectDivision(division.value)" style="margin-left: 2px;">{{division.text}}</b-btn>
        </b-col>
        <b-col cols="6" >
          <b-btn v-for="(target, key) in serviceTargets" :key="key" size="sm"  :pressed.sync="target.state" :variant="target.variant"
                  @click="selectService(target.value)" style="margin-left: 2px;">{{target.text}}</b-btn>
        </b-col>
        <b-col cols="1">
          <b-btn size="sm" variant="info" @click="detailSearch">검색하기</b-btn>
        </b-col>
      </b-row>
      <br>
      <div v-if="detailFlag">
        <b-row align="left">
          <b-col cols="2">회사명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_name"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">대표자명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_ceo_name"></span></b-col>
        </b-row> 
        <b-row align="left">
          <b-col cols="2">사업자등록번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_regist_number"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">전화번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_phone"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">우편번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_postcode"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">주  소:</b-col>
          <b-col cols="6"><span v-html="customer.lo_address"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">홈페이지:</b-col>
          <b-col cols="6"><span v-html="customer.lo_homepage"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">핵심사업:</b-col>
          <b-col cols="6"><span v-html="customer.lo_core_business"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스분야:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_division"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스대상:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_target"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스지역:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_area"></span></b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2">부가 설명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_description"></span></b-col>
        </b-row>
        <b-row>
          <b-col cols="11"></b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
          </b-col>
        </b-row>
      </div>
      <br>
      <b-container fluid>
        <b-table show-empty
                stacked="sm"
                :items="customers"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
        >
          <template slot="actions" slot-scope="row">
            <b-btn size="sm" @click="showDetail(row.item)">자세히</b-btn>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="6">
            <b-form-group horizontal label="">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
        </b-row>
      </b-container>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
    </div>
  </div>
</template>

<script>
import Navi from './Navi';
import axios from 'axios';

export default {
  components: {
    Navi
  },
  name: 'CustomSearch',
  data() {
    return {
      infoMsg: '',
      selectDivision_param: [],
      serviceDivisions: [
        { value: '분야전체', text: '전체', variant: 'outline-secondary', state: false },
        { value: '개인회생', text: '개인회생', variant: 'outline-secondary', state: false },
        { value: '개인파산', text: '개인파산', variant: 'outline-secondary', state: false },
      ],
      selectTarget_param: [],
      serviceTargets: [
        { value: '대상전체', text: '전체', variant: 'outline-secondary', state: false },
        { value: '직장인', text: '직장인', variant: 'outline-secondary', state: false },
        { value: '개인사업자', text: '개인사업자', variant: 'outline-secondary', state: false },
        { value: '프리랜서', text: '프리랜서', variant: 'outline-secondary', state: false },
        { value: '아르바이트', text: '아르바이트', variant: 'outline-secondary', state: false },
        { value: '일용직', text: '일용직', variant: 'outline-secondary', state: false },
      ],
      selectArea_param: [],
      serviceAreas: [
        { value: '지역전체', text: '전체', variant: 'outline-secondary', state: false },
        { value: '서울', text: '서울', variant: 'outline-secondary', state: false },
        { value: '인천', text: '인천', variant: 'outline-secondary', state: false },
        { value: '부산', text: '부산', variant: 'outline-secondary', state: false },
        { value: '대전', text: '대전', variant: 'outline-secondary', state: false },
        { value: '울산', text: '울산', variant: 'outline-secondary', state: false },        
        { value: '대구', text: '대구', variant: 'outline-secondary', state: false },
        { value: '광주', text: '광주', variant: 'outline-secondary', state: false },
        { value: '세종', text: '세종', variant: 'outline-secondary', state: false },
        { value: '경기', text: '경기', variant: 'outline-secondary', state: false },
        { value: '강원', text: '강원', variant: 'outline-secondary', state: false },
        { value: '충북', text: '충북', variant: 'outline-secondary', state: false },
        { value: '충남', text: '충남', variant: 'outline-secondary', state: false },
        { value: '경북', text: '경북', variant: 'outline-secondary', state: false },
        { value: '경남', text: '경남', variant: 'outline-secondary', state: false },
        { value: '전북', text: '전북', variant: 'outline-secondary', state: false },
        { value: '전남', text: '전남', variant: 'outline-secondary', state: false },
        { value: '제주', text: '제주', variant: 'outline-secondary', state: false },
      ],
      selectedItems: [],
      customers: [],
      fields: [
        { key: 'lo_name', label: '회사명', 'class': 'text-center' },
        { key: 'lo_ceo_name', label: '대표자명', 'class': 'text-center' },
        { key: 'lo_phone', label: '전화번호', 'class': 'text-center' },
        { key: 'lo_service_division', label: '서비스분야', 'class': 'text-center' },
        { key: 'lo_service_area', label: '서비스지역', 'class': 'text-center' },
        { key: 'lo_service_target', label: '서비스대상', 'class': 'text-center' },
        { key: 'created', label: '등록일자' },
        { key: 'actions', label: '', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      detailFlag: false,
      customer: {
        lo_name: '',
        lo_ceo_name: '',
        lo_regist_number: '',
        lo_phone: '',
        lo_postcode: '',
        lo_address: '',
        lo_core_business: '',
        lo_service_division: '',
        lo_service_target: '',
        lo_service_area: '',
        lo_description: '',
        lo_homepage: '',     
      },
    }
  },
  methods: {
    searchDescription() {
      this.$store.state.top_search.search_mode = 'description';
      this.$store.state.top_search.lo_name = '';
      this.getLegalOffices();
    },
    searchName() {
      this.$store.state.top_search.search_mode = 'name';
      this.$store.state.top_search.lo_description = '';
      this.getLegalOffices();
    },
    selectLocation(area) {
      if (area == '지역전체') {
        for (var i=1; i<this.serviceAreas.length; i++) {
          this.serviceAreas[i].state = false;
          this.selectArea_param =[];
        }
        this.selectArea_param.push(area);
        this.fixSearchItem();
      } else {
        for(var i = this.selectArea_param.length - 1; i >= 0; i--) {
          if(this.selectArea_param[i] == area) {
            this.selectArea_param.splice(i, 1);
            this.fixSearchItem();
            return;
          }
        }
        for (var i=0; i<this.selectArea_param.length; i++) {
          if(this.selectArea_param[i] == '지역전체') {
            this.serviceAreas[i].state = false;
            this.selectArea_param = [];
          }
        }
        this.selectArea_param.push(area);
        this.fixSearchItem();
      }
    },
    selectDivision(division) {
      if (division == '분야전체') {
        for (var i=1; i<this.serviceDivisions.length; i++) {
          this.serviceDivisions[i].state = false;
          this.selectDivision_param = [];
        }
        this.selectDivision_param.push(division);
        this.fixSearchItem();
      } else {
        for(var i = this.selectDivision_param.length - 1; i >= 0; i--) {
          if(this.selectDivision_param[i] == division) {
            this.selectDivision_param.splice(i, 1);
            this.fixSearchItem();
            return;
          }
        }
        for (var i=0; i<this.selectDivision_param.length; i++) {
          if(this.selectDivision_param[i] == '분야전체') {
            this.serviceDivisions[i].state = false;
            this.selectDivision_param = [];
          }
        }
        this.selectDivision_param.push(division);
        this.fixSearchItem();
      }
    },
    selectService(target) {
      if (target == '대상전체') {
        for (var i=1; i<this.serviceTargets.length; i++) {
          this.serviceTargets[i].state = false;
          this.selectTarget_param = [];
        }
        this.selectTarget_param.push(target);
        this.fixSearchItem();
      } else {
        for(var i = this.selectTarget_param.length - 1; i >= 0; i--) {
          if(this.selectTarget_param[i] == target) {
            this.selectTarget_param.splice(i, 1);
            this.fixSearchItem();
            return;
          }
        }
        for (var i=0; i<this.selectTarget_param.length; i++) {
          if(this.selectTarget_param[i] == '대상전체') {
            this.serviceTargets[i].state = false;
            this.selectTarget_param = [];
          }
        }
        this.selectTarget_param.push(target);
        this.fixSearchItem();
      }
    },
    fixSearchItem() {
      this.selectedItems = [];
      for (var i=0; i<this.selectArea_param.length; i++) {
        this.selectedItems.push(this.selectArea_param[i]);
      }
      for (var i=0; i<this.selectDivision_param.length; i++) {
        this.selectedItems.push(this.selectDivision_param[i]);
      }
      for (var i=0; i<this.selectTarget_param.length; i++) {
        this.selectedItems.push(this.selectTarget_param[i]);
      }
    },
    detailSearch() {
      this.$store.state.top_search.search_mode = 'detail';
      this.getLegalOffices();
    },
    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'search');
      data.append('search_mode', this.$store.state.top_search.search_mode);
      data.append('lo_description', this.$store.state.top_search.lo_description);
      data.append('lo_name', this.$store.state.top_search.lo_name);
      data.append('lo_service_division', this.selectDivision_param.toString());
      data.append('lo_service_area', this.selectArea_param.toString());
      data.append('lo_service_target', this.selectTarget_param.toString());
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.customers = response.data.legal_offices;
          this.totalRows = this.customers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    showDetail(item) {
      this.detailFlag = true;
      this.customer.lo_name = item.lo_name;
      this.customer.lo_ceo_name = item.lo_ceo_name;
      this.customer.lo_regist_number = item.lo_regist_number;
      this.customer.lo_phone = item.lo_phone;
      this.customer.lo_postcode = item.lo_postcode;
      this.customer.lo_address = item.lo_address1+' '+item.lo_address2;
      this.customer.lo_core_business = item.lo_core_business;
      this.customer.lo_service_division = item.lo_service_division;
      this.customer.lo_service_target = item.lo_service_target;
      this.customer.lo_service_area = item.lo_service_area;
      this.customer.lo_description = item.lo_description;
      this.customer.lo_homepage = item.lo_homepage;
      //this.$store.state.customer_lo_id = item.;lo_id;
      //console.log('customer_lo_id : '+this.$store.state.customer_lo_id);
      //this.$router.push({ path: './CustomDetail' });
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = '';
      this.customer.lo_ceo_name = '';
      this.customer.lo_regist_number = '';
      this.customer.lo_phone = '';
      this.customer.lo_postcode = '';
      this.customer.lo_address = '';
      this.customer.lo_core_business = '';
      this.customer.lo_service_division = '';
      this.customer.lo_service_target = '';
      this.customer.lo_service_area = '';
      this.customer.lo_description = '';
      this.customer.lo_homepage = '';
    },
    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },
  mounted() {
    this.selectDivision_param.push('분야전체');
    this.selectTarget_param.push('대상전체');
    this.selectArea_param.push('지역전체');
    this.getLegalOffices();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>
