<template>
  <div class="Home" align="center">
    <Navi></Navi>
    <TopFrame></TopFrame>
    <br>
    <div class="container">
      <b-row>
        <b-col cols="3" v-for="(customer, key) in customers" :key="key">
          <b-card 
            header-border-variant="primary"
            :img-src="customer.lo_main_img"
            img-alt="Image"
            img-top
            border-variant="primary"
            style="max-width: 20rem;"
            :title="customer.lo_name"
            :sub-title="customer.lo_phone"
            class="mb-3"
          >
            <p class="card-text"><span v-html="customer.lo_description"></span></p>
          </b-card>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col cols="3" v-for="(sc, key) in category" :key="key">
          <b-card 
            :title="sc.title"
            :img-src="sc.image"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-3">
            <p class="card-text">
              {{ sc.content }}
            </p>
            <b-button href="#" variant="primary">Go somewhere</b-button>
          </b-card>
        </b-col>
      </b-row>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Footer from './Footer';
import Navi from './Navi';
import axios from 'axios';

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
  },
  name: 'Home',
  data() {
    return {
      customers: [],
      category: [
        { 
          image: "https://picsum.photos/600/400/?image=81",
          title: "This is card title. #1",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=83",
          title: "This is card title. #2",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=84",
          title: "This is card title. #3",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=85",
          title: "This is card title. #4",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=91",
          title: "This is card title. #5",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=87",
          title: "This is card title. #6",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
        { 
          image: "https://picsum.photos/600/400/?image=88",
          title: "This is card title. #7",
          content: "Some quick example text to build on the card title and make up the bulk of the card's content.",
        },
      ],
    }
  },

  methods: {
    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.customers = response.data.legal_offices;
          for( var i = 0; i < this.customers.length; i++ ){
            this.customers[i].lo_main_img = this.$store.state.lawketImageUrl+'customer_image/'+this.customers[i].lo_identifier+'/'+this.customers[i].lo_main_img;
            this.customers[i].lo_sub1_img = this.$store.state.lawketImageUrl+'customer_image/'+this.customers[i].lo_identifier+'/'+this.customers[i].lo_sub1_img;
            this.customers[i].lo_sub2_img = this.$store.state.lawketImageUrl+'customer_image/'+this.customers[i].lo_identifier+'/'+this.customers[i].lo_sub2_img;
            this.customers[i].lo_sub3_img = this.$store.state.lawketImageUrl+'customer_image/'+this.customers[i].lo_identifier+'/'+this.customers[i].lo_sub3_img;
          }
          this.totalRows = this.customers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  },

  mounted() {
    this.getLegalOffices();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
