<template>
  <div class="Navi" align="center">
    <b-navbar toggleable="sm" type="dark" variant="primary" fixed="top">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand @click="home">
        <img src="https://placekitten.com/g/30/30" class="d-inline-block align-top" alt="BV">
        Lawket
      </b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
          <!-- Left aligned nav items -->
          <b-navbar-nav>
            <b-nav-item @click="searchByRegion">지역별 업체검색</b-nav-item>
            <b-nav-item @click="searchByProduct">상품별 업체검색</b-nav-item>
            <b-nav-item @click="realTimeConsult">실시간 회생상담</b-nav-item>
            <b-nav-item @click="customSearch">맞춤검색</b-nav-item>
          </b-navbar-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="커뮤니티" left>
              <b-dropdown-item @click="news">개인회생뉴스</b-dropdown-item>
              <b-dropdown-item @click="qna">질문과답변</b-dropdown-item>
              <b-dropdown-item @click="tips">개인회생TIP</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item @click="useGuide">이용안내</b-nav-item>
            <b-nav-item @click="serviceCenter">고객센터</b-nav-item>
            <b-nav-item @click="companyIntro">회사소개</b-nav-item>
            <b-nav-item @click="createCustomer">로그인:{{$store.state.legalOfficeData.lo_identifier}}</b-nav-item>
            <b-nav-item @click="accessAdmin">관리자</b-nav-item>
          </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <br>
    <b-modal v-model="modalShow"
             title="Administrator Login"
             no-close-on-esc
             no-close-on-backdrop
             hide-header-close
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant"
             :body-bg-variant="bodyBgVariant"
             :body-text-variant="bodyTextVariant"
             :footer-bg-variant="footerBgVariant"
             :footer-text-variant="footerTextVariant">
       <b-container fluid >
         <b-row class="mb-2"></b-row>
         <b-row class="mb-2">
           <b-col cols="3" class="col-text">아이디</b-col>
           <b-col>
             <b-form-group>
              <b-form-input type="text" v-model="la_identifier" required placeholder="아이디를 입력하세요."></b-form-input>
            </b-form-group>
           </b-col>
         </b-row>
         <b-row class="mb-2">
           <b-col cols="3" class="col-text">패스워드</b-col>
           <b-col>
            <b-form-group>
              <b-form-input type="password" v-model="la_password" required placeholder="패스워드를 입력하세요."></b-form-input>
            </b-form-group>
           </b-col>
         </b-row>
         <b-row class="mb-2">
           <b-col cols="3"></b-col>
           <b-col><p>{{ modalMessage }}</p></b-col>
         </b-row>
       </b-container>
       <div slot="modal-footer" class="w-100">
         <b-btn size="md" class="float-left" variant="light" @click="exitAdmin">취소</b-btn>
         <b-btn size="md" class="float-right" variant="primary" @click="tryLogin">로그인</b-btn>
       </div>
    </b-modal>
  </div> 
</template>

<script>
import axios from 'axios';

  export default {
    name: 'Navi',
    data() {
      return {
        modalShow: false,
        variants: [
          'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'
        ],
        headerBgVariant: 'dark',
        headerTextVariant: 'light',
        bodyBgVariant: 'light',
        bodyTextVariant: 'dark',
        footerBgVariant: 'warning',
        footerTextVariant: 'dark',
        modalMessage: '',
        la_identifier: '',
        la_password: '',
      }
    },
    mounted() {
      this.$store.state.adminFlag = false;
    },
    methods: {
      accessAdmin() {
        if(this.$store.state.adminFlag) {
          this.modalShow = false;
          this.$router.push({ path: '/Admin/CreateAdmin' });
        } else {
          this.modalShow = true;
        }
      },
      exitAdmin() {
        this.modalShow = false;
        this.$router.push({ path: '/' });
      },
      tryLogin() {
        var data = new FormData();
        data.append('CRUD_mode', 'login');
        data.append('la_identifier', this.la_identifier);
        data.append('la_password', this.la_password);
        axios.post(this.$store.state.lawketBaseUrl+'CRUD_admin.php', data)
        .then(response => {
          if(!response.data.result) {
            this.modalMessage = response.data.msg;
            this.modalShow = true;
          } else {
            this.$store.state.adminFlag = response.data.admin.adminFlag;
            this.$store.state.adminData = response.data.admin;
            this.modalShow = false;
            this.$router.push({ path: '/Admin/CreateAdmin' });
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => this.loading = false);
      },
      home() { this.$router.push({ path: './' }); },
      searchByRegion() { this.$router.push({ path: './searchByRegion' }); },
      searchByProduct() { this.$router.push({ path: './searchByProduct' }); },
      realTimeConsult() { this.$router.push({ path: './realTimeConsult' }); },
      customSearch() { this.$router.push({ path: './customSearch' }); },
      news() { this.$router.push({ path: './news' }); },
      qna() { this.$router.push({ path: './qna' }); },
      tips() { this.$router.push({ path: './community/tips' }); },
      useGuide() { this.$router.push({ path: './useGuide' }); },
      serviceCenter() { this.$router.push({ path: './serviceCenter' }); },
      companyIntro() { this.$router.push({ path: './companyIntro' }); },
      createCustomer() { this.$router.push({ path: './createCustomer/createCustomerStep1' }); },
    },
  }
</script>
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>