<template>
  <div class="RealTimeConsult" align="center">
    <Navi></Navi>
    <TopFrame></TopFrame>
    <br>
    <div class="container">
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="1">
          <b-btn size="sm" :variant="buttonColor1" @click="selectDvision1">개인회생</b-btn>
        </b-col>
        <b-col align="left">
          <b-btn v-for="(location1, key) in locations1" :key="key" size="sm" variant="outline-secondary" 
                 @click="selectLocation1(location1.value)" style="margin-left: 2px;">{{location1.text}}</b-btn>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="1">
          <b-btn size="sm" :variant="buttonColor2" @click="selectDvision2">개인파산</b-btn>
        </b-col>
        <b-col align="left">
          <b-btn v-for="(location2, key) in locations2" :key="key" size="sm" variant="outline-secondary" 
                 @click="selectLocation2(location2.value)"  style="margin-left: 2px;">{{location2.text}}</b-btn>
        </b-col>
      </b-row>
      <br>
      <div v-if="detailFlag">
        <h4 align="left">작성자 정보</h4>
        <b-row align="left">
          <b-col cols="1">작성자:</b-col>
          <b-col cols="2"><span v-html="consult.cr_name"></span></b-col>
          <b-col cols="2"></b-col>
          <b-col cols="1">채무금액:</b-col>
          <b-col cols="2"><span v-html="consult.cr_debt"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="1">지역:</b-col>
          <b-col cols="2"><span v-html="consult.cr_location"></span></b-col>
          <b-col cols="2"></b-col>
          <b-col cols="1">직업:</b-col>
          <b-col cols="2"><span v-html="consult.cr_job_ox"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="1">연령대:</b-col>
          <b-col cols="2"><span v-html="consult.cr_age"></span></b-col>
          <b-col cols="2"></b-col>
          <b-col cols="1">상담분류</b-col>
          <b-col cols="2"><span v-html="consult.cr_division"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="1">성별:</b-col>
          <b-col cols="2"><span v-html="consult.cr_sex"></span></b-col>
          <b-col cols="2"></b-col>
          <b-col cols="1">작성일</b-col>
          <b-col cols="2"><span v-html="consult.created"></span></b-col>
        </b-row>
        <br>
        <h4 align="left">문의 내용</h4>
        <b-row align="left">
          <b-col cols="1"><span v-html="consult.cr_subject"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="1"><span v-html="consult.cr_content"></span></b-col>
        </b-row>
        <b-row>
          <b-col cols="11"></b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
          </b-col>
        </b-row>
        <br>
      </div>
      <b-row>
        <b-col cols="11"></b-col>
        <b-col cols="1">
          <b-btn size="sm" variant="outline-primary" @click="addConsult">글쓰기</b-btn>
        </b-col>
      </b-row>
      <b-table show-empty
              stacked="sm"
              :items="consults"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" @click="showDetail(row.item)">자세히</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal>
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import axios from 'axios';

export default {
  components: {
    TopFrame,
    Navi,
  },
  name: 'RealTimeConsult',
  data() {
    return {
      infoMsg: '',
      selectDivision_param: '전체',
      buttonColor1: 'outline-primary',
      buttonColor2: 'outline-primary',
      selectLocation_param: '전체',
      locations1: [
        { value: '전체', text: '전체', variant: 'outline-secondary', state: false },
        { value: '서울', text: '서울', variant: 'outline-secondary', state: false },
        { value: '인천', text: '인천', variant: 'outline-secondary', state: false },
        { value: '부산', text: '부산', variant: 'outline-secondary', state: false },
        { value: '대전', text: '대전', variant: 'outline-secondary', state: false },
        { value: '울산', text: '울산', variant: 'outline-secondary', state: false },        
        { value: '대구', text: '대구', variant: 'outline-secondary', state: false },
        { value: '광주', text: '광주', variant: 'outline-secondary', state: false },
        { value: '세종', text: '세종', variant: 'outline-secondary', state: false },
      ],
      locations2: [
        { value: '경기', text: '경기', variant: 'outline-secondary', state: false },
        { value: '강원', text: '강원', variant: 'outline-secondary', state: false },
        { value: '충북', text: '충북', variant: 'outline-secondary', state: false },
        { value: '충남', text: '충남', variant: 'outline-secondary', state: false },
        { value: '경북', text: '경북', variant: 'outline-secondary', state: false },
        { value: '경남', text: '경남', variant: 'outline-secondary', state: false },
        { value: '전북', text: '전북', variant: 'outline-secondary', state: false },
        { value: '전남', text: '전남', variant: 'outline-secondary', state: false },
        { value: '제주', text: '제주', variant: 'outline-secondary', state: false },
      ],
      consults: [],
      fields: [
        { key: 'cr_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'cr_division', label: '분류', 'class': 'text-center', sortable: true, sortDirection: 'desc' },
        { key: 'cr_location', label: '지역', 'class': 'text-center' },
        { key: 'cr_name', label: '이름', 'class': 'text-center' },
        { key: 'cr_job', label: '직업', 'class': 'text-center' },
        { key: 'cr_debt', label: '채무금액', 'class': 'text-center' },
        { key: 'cr_subject', label: '제목', 'class': 'text-center' },
        { key: 'cr_creator', label: '만든이', 'class': 'text-center' },
        { key: 'actions', label: '', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      detailFlag: false,
      consult: {
        cr_name: '',
        cr_location: '',
        cr_division: '',
        cr_job_ox: '',
        cr_sex: '',
        cr_age: '',
        cr_debt: '',
        cr_subject: '',
        cr_content: '',
        created: '',
      },
    }
  },
  methods: {
    selectDvision1() {
      this.selectDivision_param = '개인회생';
      this.buttonColor1 = 'primary';
      this.buttonColor2 = 'outline-primary';
      this.getConsults();
    },
    selectDvision2() {
      this.selectDivision_param = '개인파산';
      this.buttonColor2 = 'primary';
      this.buttonColor1 = 'outline-primary';
      this.getConsults();
    },
    selectLocation1(location1) {
      for (var i=0; i<this.locations1.length; i++) {
        if(this.locations1[i].value == location1) {
            this.locations1[i].state = true;
        } else {
          this.locations1[i].state = false;
        }
      }
      for (var i=0; i<this.locations2.length; i++) {
          this.locations2[i].state = false;
      }
      this.selectLocation_param = location1;
      this.getConsults();
    },
    selectLocation2(location2) {
      for (var i=0; i<this.locations2.length; i++) {
        if(this.locations2[i].value == location2) {
            this.locations2[i].state = true;
        } else {
          this.locations2[i].state = false;
        }
      }
      for (var i=0; i<this.locations1.length; i++) {
          this.locations1[i].state = false;
      }
      this.selectLocation_param = location2;
      this.getConsults();
    },
    addConsult() {
      this.$router.push({ path: './AddConsult' });
    },
    getConsults() {
      this.consults = [];
      var data = new FormData();
      data.append('CRUD_mode', 'search');
      data.append('selectedDivision', this.selectDivision_param);
      data.append('selectedLocation', this.selectLocation_param);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.consults = response.data.consults;
          this.totalRows = this.consults.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    
  showDetail(item) {
    this.detailFlag = true;
    this.consult.cr_name = item.cr_name;
    this.consult.cr_location = item.cr_location;
    this.consult.cr_division = item.cr_division;
    this.consult.cr_job_ox = item.cr_job_ox;
    if(item.cr_job_ox == 'O') {
      this.consult.cr_job_ox = '있음';
    } else{
      this.consult.cr_job_ox = '없음';
    }
    if(item.cr_sex == 'M') {
      this.consult.cr_sex = '남성';
    } else{
      this.consult.cr_sex = '여성';
    }
    this.consult.cr_age = item.cr_age+' '+'대';
    this.consult.cr_debt = item.cr_debt+' '+'원';
    this.consult.cr_subject = item.cr_subject;
    this.consult.cr_content = item.cr_content;
    this.consult.created = item.created;
  },
  viewList() {
    this.detailFlag = false;
    this.consult.cr_name = '';
    this.consult.cr_location = '';
    this.consult.cr_division = '';
    this.consult.cr_job_ox = '';
    this.consult.cr_sex = '';
    this.consult.cr_age = '';
    this.consult.cr_debt = '';
    this.consult.cr_subject = '';
    this.consult.cr_content = '';
    this.consult.created = '';
  },

  showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },
  mounted() {
    this.getConsults();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
