<template>
  <div class="SearchByRegoin" align="center">
    <Navi></Navi>
    <TopFrame></TopFrame>
    <br>
    <div class="container">
      <b-row align="left">
        <b-col cols="3" class="col-text"></b-col>
        <b-col>
          <b-btn v-for="(area1, key) in areas1" :key="key" size="sm" variant="outline-secondary" 
                 @click="selectArea1(area1.value)" style="margin-left: 2px;">{{area1.text}}</b-btn>
        </b-col>
      </b-row>
      <br>
      <b-row align="left">
        <b-col cols="3" class="col-text"></b-col>
        <b-col>
          <b-btn v-for="(area2, key) in areas2" :key="key" size="sm" variant="outline-secondary" 
                 @click="selectArea2(area2.value)"  style="margin-left: 2px;">{{area2.text}}</b-btn>
        </b-col>
      </b-row>
      <br>
      <div v-if="detailFlag">
        <b-row align="left">
          <b-col cols="2">회사명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_name"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">대표자명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_ceo_name"></span></b-col>
        </b-row> 
        <b-row align="left">
          <b-col cols="2">사업자등록번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_regist_number"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">전화번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_phone"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">우편번호:</b-col>
          <b-col cols="6"><span v-html="customer.lo_postcode"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">주  소:</b-col>
          <b-col cols="6"><span v-html="customer.lo_address"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">홈페이지:</b-col>
          <b-col cols="6"><span v-html="customer.lo_homepage"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">핵심사업:</b-col>
          <b-col cols="6"><span v-html="customer.lo_core_business"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스분야:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_division"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스대상:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_target"></span></b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2">서비스지역:</b-col>
          <b-col cols="6"><span v-html="customer.lo_service_area"></span></b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2">부가 설명:</b-col>
          <b-col cols="6"><span v-html="customer.lo_description"></span></b-col>
        </b-row>
        <b-row>
          <b-col cols="11"></b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
          </b-col>
        </b-row>
      </div>
      <br>
      <b-table show-empty
              stacked="sm"
              :items="customers"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <b-btn size="sm" @click="showDetail(row.item)">자세히</b-btn>
        </template>
      </b-table>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="6">
          <b-form-group horizontal label="">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </div>
    <b-modal ref="infoModal" hide-footer title="알림">
      <div class="d-block text-center">
        <h5>{{ infoMsg }}</h5>
      </div>
      <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
    </b-modal>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import axios from 'axios';

export default {
  components: {
    Navi,
    TopFrame,
  },
  name: 'SearchByRegoin',
  data() {
    return {
      infoMsg: '',
      selectArea_param: '전체',
      areas1: [
        { value: '전체', text: '전체' },
        { value: '서울', text: '서울' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
      ],
      areas2: [
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
      ],
      customers: [],
      fields: [
        { key: 'lo_name', label: '회사명', 'class': 'text-center' },
        { key: 'lo_ceo_name', label: '대표자명', 'class': 'text-center' },
        { key: 'lo_phone', label: '전화번호', 'class': 'text-center' },
        { key: 'lo_service_area', label: '지역', 'class': 'text-center' },
        { key: 'created', label: '등록일자' },
        { key: 'actions', label: '', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      detailFlag: false,
      customer: {
        lo_name: '',
        lo_ceo_name: '',
        lo_regist_number: '',
        lo_phone: '',
        lo_postcode: '',
        lo_address: '',
        lo_core_business: '',
        lo_service_division: '',
        lo_service_target: '',
        lo_service_area: '',
        lo_description: '',
        lo_homepage: '',     
      },
    }
  },
  methods: {
    selectArea1(area1) {
      //console.log('this.areas1.value --> '+area1);
      this.selectArea_param = area1;
      this.getLegalOffices();
    },
    selectArea2(area2) {
      //console.log('this.areas2.value --> '+area2);
      this.selectArea_param = area2;
      this.getLegalOffices();
    },
    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'search');
      data.append('search_mode', 'area');
      data.append('lo_service_area', this.selectArea_param);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_legal_office.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.customers = response.data.legal_offices;
          this.totalRows = this.customers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    showDetail(item) {
      this.detailFlag = true;
      this.customer.lo_name = item.lo_name;
      this.customer.lo_ceo_name = item.lo_ceo_name;
      this.customer.lo_regist_number = item.lo_regist_number;
      this.customer.lo_phone = item.lo_phone;
      this.customer.lo_postcode = item.lo_postcode;
      this.customer.lo_address = item.lo_address1+' '+item.lo_address2;
      this.customer.lo_core_business = item.lo_core_business;
      this.customer.lo_service_division = item.lo_service_division;
      this.customer.lo_service_target = item.lo_service_target;
      this.customer.lo_service_area = item.lo_service_area;
      this.customer.lo_description = item.lo_description;
      this.customer.lo_homepage = item.lo_homepage;
      //this.$store.state.customer_lo_id = item.;lo_id;
      //console.log('customer_lo_id : '+this.$store.state.customer_lo_id);
      //this.$router.push({ path: './CustomDetail' });
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = '';
      this.customer.lo_ceo_name = '';
      this.customer.lo_regist_number = '';
      this.customer.lo_phone = '';
      this.customer.lo_postcode = '';
      this.customer.lo_address = '';
      this.customer.lo_core_business = '';
      this.customer.lo_service_division = '';
      this.customer.lo_service_target = '';
      this.customer.lo_service_area = '';
      this.customer.lo_description = '';
      this.customer.lo_homepage = '';
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },
  mounted() {
    this.$store.state.top_search.lo_name = '';
    this.$store.state.top_search.lo_description = '';
    this.getLegalOffices();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
