<template>
  <div>
    <b-row>
      <b-col cols="3"></b-col>
      <b-col cols="6">
        <b-input-group>
          <b-form-input size="md" class="mr-md-2" type="text" v-model="$store.state.top_search.lo_description" placeholder="통합검색"/>
          <b-btn variant="info" @click="searchDescription">찾기</b-btn>&nbsp;&nbsp;
          <b-form-input size="md" class="mr-md-2" type="text" v-model="$store.state.top_search.lo_name" placeholder="업체명 검색"/>
          <b-btn variant="info" @click="searchName">찾기</b-btn>
        </b-input-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'topFrame',
    components: {

    },
    data() {
      return {
        search_lo_description: '',
        search_lo_name: '',
      }
    },
    methods: {
      searchDescription() {
        this.$store.state.top_search.search_mode = 'description';
        this.$router.push({ path: './CustomSearch' });
      },
      searchName() {
        this.$store.state.top_search.search_mode = 'name';
        this.$router.push({ path: './CustomSearch' });
      }
    },
  }
</script>